<template>
  <div :id="actionType.toLowerCase() +'-profile-panel'">
    <b-row v-if="$wait.is(WAITING_PROFILE)">
        <b-col offset="4" cols="4">
        <b-spinner class="orangeSpinner mt-5"></b-spinner>
        </b-col>
      </b-row>
      <div v-else>
        <b-row>
          <b-col cols='12' sm='12' >
            <label class="pageTitle">{{ title }}</label>
          </b-col>
          <b-col cols='12' sm='12' >
              <p class="instructions">Enter information below to add a Data Profile</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <div class="formItem">
              <b-form-input id="profileName" maxlength="30" :class="[ vErrors.has('name') ? 'warningBorder' : 'inputNameBorder' ]"  class="inputName" style="border: 10px solid border" placeholder="Name" type="text" v-model=profile.name data-vv-name="name" data-vv-as="Profile Name" v-validate="'required'" />
              <p v-show="vErrors.has('name')" class="warningText" >{{ vErrors.first('name') }}</p>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <div class="formItem">
              <b-form-textarea id="profileDescription" maxlength="200" class="inputDescription" rows="4" placeholder="Description" v-model=profile.description data-vv-name="description" data-vv-as="Profile Description" v-validate="'required'" :class="{ warningBorder: vErrors.has('description') }" />
              <p v-show="vErrors.has('description')" class="warningText" >{{ vErrors.first('description') }}</p>
            </div>
            <label class="descriptionLength" :class='{ warningText: descriptionLength >= 200 }'>Length: {{ descriptionLength }} </label>
          </b-col>
        </b-row>
        <hr/>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <p class="subHeading">Choose your Processors</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <p class="instructions">From the drop down list choose the processors for this Data Profile</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <v-select class="mb-3" :clearable="false" placeholder="Search for a Processor" :options="processorList" :onChange=processorSelected></v-select>
            <div class="processorContainer">
              <processor-configuration
                :key="configuration.id"
                v-model="configuration.userConfigurationStorage"
                :configuration="configuration"
                v-for="configuration in configurations"
                v-on:updateArtifactsRequested="(event) => toggleArtifactsRequested(configuration, event.key, event.value)"
                v-on:removeProcessor="removeSelectedProcessor" />
            </div>
          </b-col>
        </b-row>
        <hr/>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <p class="subHeading">Rules to Run</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols='12' sm='12' md='6' lg="4">
            <b-form-checkbox v-model="ruleAutorun">
              Can run automatically
            </b-form-checkbox>
            <b-form-checkbox v-model="ruleAllProcessors">
              Only run this profile if <em>all</em> its processors can run (on a resource)
            </b-form-checkbox>
          </b-col>
        </b-row>
        <hr/>
        <b-row>
          <b-col cols='12' sm='12' md='6'>
            <b-button id="addProfile" v-if="actionType == 'Add'" class="saveButton" @click=addProfile>Add Profile</b-button>
            <button id="saveProfile" v-else class="saveButton" @click=saveProfile>Update Profile</button>
          </b-col>
        </b-row>
        <b-button variant="link" size="sm" v-if="profile.rules" v-b-toggle.rules-collapse-1>View rules</b-button>
          <b-collapse id="rules-collapse-1" class="mt-2">
            <b-card>
              <pre class="card-text">{{ profile.rules }}</pre>
            </b-card>
          </b-collapse>
      </div>
  </div>
</template>

<script>
import ProcessorConfiguration from './ProcessorConfiguration';
import { LOAD_PROCESSORS, STORE_PROFILE, LOAD_PROFILE, SAVE_PROFILE } from '@/state/action-types';
import { WAITING_PROFILE } from '@/state/loading-types.js';

export default {
  name: 'ManageProfile',
  props: {
    actionType: {
      type: String,
      required: false,
      default: 'Add'
    },
    profileId: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      title: this.actionType + ' Data Profile',
      configurations: [],
      ruleAutorun: false,
      ruleAllProcessors: false,
      WAITING_PROFILE: WAITING_PROFILE
    };
  },
  methods: {
    toggleArtifactsRequested: function (configuration, key, value) {
      configuration.artifactsRequested[key] = value;
      console.log(configuration.artifactsRequested);
    },
    updateConfigurationsFromProfile: function () {
      if (this.profile.configurations) {
        this.configurations = this.profile.configurations;
      } else {
        this.configurations = [];
      }
      this.ruleAutorun = !(this.profile.rules && 'autorun' in this.profile.rules && !this.profile.rules.autorun);
      this.ruleAllProcessors = this.profile.rules && 'allProcessors' in this.profile.rules && this.profile.rules.allProcessors;
    },
    addProfile: function () {
      this.$validator.validateAll().then((result) => {
        this.$store.dispatch(STORE_PROFILE, {
          profile: this.profile,
          configurations: this.configurations
        }).then((val) => {
          this.$router.push({ name: 'profileTable' });
        });
      }).catch((error) => {
        console.log('Validation error:' + error);
      });
    },
    saveProfile: function () {
      this.$validator.validateAll().then(() => {
        console.log(this.configurations);
        this.$store.dispatch(SAVE_PROFILE, { profile: this.profile, configurations: this.configurations }).then(() => {
          this.$router.push({ name: 'profileTable' });
        });
      }).catch((error) => {
        console.log('Validation error:' + error);
      });
    },
    processorSelected: function (option) {
      this.configurations.push({
        artifactsRequested: {},
        userConfigurationStorage: this.processors[option.value].configurationDefaults,
        processor: this.processors[option.value]
      });
    },
    removeSelectedProcessor: function (name) {
      this.configurations = this.configurations.filter((element) => {
        return element.processor.name !== name;
      });
    }
  },
  components: {
    ProcessorConfiguration: ProcessorConfiguration
  },
  watch: {
    profile: function () {
      this.updateConfigurationsFromProfile();
    },
    ruleAllProcessors: function (allProcessors) {
      if (this.profile) {
        if (!this.profile.rules) {
          this.profile.rules = {};
        }
        this.profile.rules.allProcessors = allProcessors;
      }
    },
    ruleAutorun: function (autorun) {
      // NB: autorun=true in the rules will
      // mean that ONLY autoruns are accepted
      if (this.profile) {
        if (!this.profile.rules) {
          this.profile.rules = {};
        }
        if (autorun) {
          delete this.profile.rules['autorun'];
        } else {
          this.profile.rules.autorun = false;
        }
      }
    }
  },
  computed: {
    descriptionLength: function () {
      if (!this.profile.description) {
        return 0;
      }
      return this.profile.description.length;
    },
    profile: function () {
      var profile = {};
      if (this.actionType === 'Edit') {
        profile = this.$store.state.profiles.currentProfile;
      } else {
        profile = {
          name: '',
          description: '',
          creator: 'Martin',
          version: 7,
          uniqueTag: 'uniq-66-' + this.name
        };
      }
      return profile;
    },
    processors: function () {
      return this.$store.getters.processors.reduce((map, element) => {
        map[element.id] = element;
        return map;
      }, {});
    },
    processorList: function () {
      return this.$store.getters.processors.map((element) => {
        var label = element.name + ' [' + element.uniqueTag + ']';
        if (element.configurationDefaults && 'metadataOnly' in element.configurationDefaults && element.configurationDefaults.metadataOnly) {
          label += ' M';
        }
        var option = { 'label': label, 'value': element.id };
        return option;
      });
    }
  },
  mounted: function () {
    this.$store.dispatch(LOAD_PROCESSORS);
    if (this.actionType === 'Edit') {
      this.$wait.start(WAITING_PROFILE);
      this.$store.dispatch(LOAD_PROFILE, this.profileId).then(() => {
        this.$wait.end(WAITING_PROFILE);
        this.updateConfigurationsFromProfile();
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';
.scriptText {
  border: black dashed 3px;
  overflow: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.processorContainer {
  display: flex;
  flex-direction: column;
}

.inputName {
  max-height: 40px;
  font-size: 0.75em;
  padding: 10px 15px;
}

.inputNameBorder {
  border: 1px grey solid;
}

.inputDescription {
  font-size: 0.75em;
}
.formItem {
  margin-bottom: 10px;
  > p {
    margin-bottom: 0px;
  }
}

.button {
  margin-top: 36px;
}

.processorInstruction {
  font-size: 14px;
  font-weight: $bold;
}

.descriptionLength {
  font-size: 12px;
  margin-bottom: 40px;
}

.saveButton{
  margin-top: 36px;
}

.warningText {
  font-size: 0.75em;
}

</style>
