<template>
      <b-card header-tag="header">
      <label  slot="header" class="xmark" @click="removeProcessor">&#x274C; </label>
        <b-row>
          <b-col cols="1" >
            <div class="processorCircle">
            <svg width="26" height="26" style="display: block;margin: auto;">
                <circle cx="13" cy="13" r="12" stroke="grey" stroke-width="1" fill="none" />
                <circle cx="13" cy="13" r="7" stroke="#F1592A" stroke-width="1" fill="#F1592A" />
              </svg>
            </div>
          </b-col>
          <b-col cols="8">
            <div>
            <label id="processorTitle" class="processorTitle">{{ processor.name }}</label>
            <p id="processorDescription" class="processorDescription item2" >{{ processor.description }}</p>
            <p class="processorNotes" v-if="notes.length">
              {{ notes }}
            </p>
          </div>
          </b-col>
          <b-col cols="3">
            <label class="editConfigurationLabel" v-if="!editConfiguration && !configurationOptionsEmpty(configurationOptions)" @click="editConfiguration = !editConfiguration">Edit</label>
            <hr/>
            <label v-if="artifacts.length" class="editConfigurationLabel" @click="editArtifacts = !editArtifacts">Output Artifacts (CSV, etc.)</label>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <div v-if="editConfiguration && configurationOptions" class="configurationForm">
              <vue-form-generator :schema="configurationOptions" :model="model" :options="formOptions"></vue-form-generator>
              <label class="saveLabel" v-if="editConfiguration" @click="saveConfiguration">Save Configuration</label>
            </div>
          </b-col>
        </b-row>
        <template v-if="editArtifacts || anyActive" v-slot:footer>
          <div class="artifactSelector">
            <b-button-group>
              <label><strong>Artifacts</strong>:</label>
              <b-button @click="toggleArtifact(ix)" :pressed="artifact.request" pill v-for="(artifact, ix) in artifacts" :key="ix">
                {{ artifact.name }}
              </b-button>
            </b-button-group>
            <label>(select to auto-request, when running manually)</label>
          </div>
        </template>
    </b-card>
</template>

<script>
import VueFormGenerator from 'vue-form-generator';

export default {
  name: 'ProcessorConfiguration',
  props: {
    value: {
      type: Object,
      required: true
    },
    configuration: {
      type: Object,
      required: true
    }
  },
  inject: false,
  data () {
    return {
      model: {},
      artifacts: [],
      anyActive: false,
      checkboxValue: false,
      editConfiguration: false,
      editArtifacts: false,
      formOptions: {
        validateAfterLoad: true,
        validateAfterChanged: true
      }
    };
  },
  methods: {
    toggleArtifact: function (ix) {
      var artifact = this.artifacts[ix];
      artifact.request = !artifact.request;
      this.$set(this.artifacts, ix, artifact);
      this.$emit('updateArtifactsRequested', { key: artifact.key, value: artifact.request });
    },
    saveConfiguration: function () {
      this.$emit('input', this.model);
      this.editConfiguration = !this.editConfiguration;
    },
    removeProcessor: function () {
      this.$emit('removeProcessor', this.processor.name);
    },
    configurationOptionsEmpty: function (configOptions) {
      return Object.keys(configOptions).length === 0;
    }
  },
  components: {
    'vue-form-generator': VueFormGenerator.component
  },
  computed: {
    notes: function () {
      var notes = '';
      if (this.processor && this.processor.configurationDefaults && this.processor.configurationDefaults.metadataOnly) {
        notes += 'This processor can still run with only a resource\'s metadata available. ';
      }
      return notes;
    },
    processor: function () {
      return this.configuration.processor;
    },
    configurationOptions: function () {
      if (this.processor.configurationOptions) {
        try {
          return this.processor.configurationOptions;
        } catch (e) {
          return null;
        }
      }
      return null;
    }
  },
  created: function () {
    this.artifacts = [];
    var anyActive = false;
    for (var key in this.processor.artifactsAvailable) {
      var artifact = this.processor.artifactsAvailable[key];
      artifact.key = key;
      artifact.request = key in this.configuration.artifactsRequested && this.configuration.artifactsRequested[key];
      anyActive = anyActive || artifact.request;
      this.artifacts.push(artifact);
      console.log(artifact);
    }
    this.anyActive = anyActive;
  },
  mounted: function () {
    try {
      this.model = this.value;
    } catch (e) {
      this.model = {};
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.xmark {
  padding-top: 6px;
  cursor: pointer;
  font-size: 0.75em;
  float: right;
  margin-bottom: 0px;
}

.processorTitle {
  font-weight: $bold;
  font-size: 0.75em;
}

.processorDescription {
  font-size: 70%;
}

.processorNotes {
  font-size: 60%;
  color: #777;
  font-style: italic;
}

.editConfigurationLabel {
  text-decoration: underline;
  cursor: pointer;
  font-weight: $bold;
  font-size: 0.688em;
}

.saveLabel {
  text-decoration: underline;
  cursor: pointer;
  font-weight: $bold;
  float: right;
  font-size: 0.688em;
  margin-top: 15px;
}

.card-header {
  border-bottom: none;
  padding: 0px 10px 0px 0px;
  background-color: white;
}

.card-body {
  border-bottom: none;
  padding: 0.25rem;
}

.processorCircle {
  padding: 0px 6px 0px 6px;
  text-align:center;
}

.configurationForm {
  font-size: 80%;
}

.artifactSelector .btn-group {
  display: block;
  button.btn {
    font-size: 70%;
    &.btn-secondary:not(.active) {
      background: none;
      color: $orangeDark;
    }
  }
}

.artifactSelector label {
  font-size: 70%;
  margin-top: 7px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

hr {
  margin-top: 2px;
  margin-bottom: 8px;
}
</style>
