<template>
  <div class="profile-row shadedRow" :class="{ selectable: selectable }" @click="selectable ? $emit('selected') : null">
    <div class="main-column">
      <label class="name">{{ profile.name }}</label>
      <p class="description">{{ profile.description }}</p>
    </div>
    <div class="column">
      <label>Created</label>
      <p>{{ profile.created_at | convertDate }}</p>
    </div>
    <div class="column">
      <label>Last Updated</label>
      <p>{{ profile.updated_at | convertDate }}</p>
    </div>
    <div class="column">
      <label>Version</label>
      <p>{{ profile.version }}</p>
    </div>
    <div class="column">
      <label>Unique Tag</label>
      <p>{{ profile.uniqueTag }}</p>
    </div>
    <div class="column" v-if="!listOnly">
      <div class="center-dropdown">
        <select class="profileActions verticalAlign dropshadowOutlineButton viewAction" id="profileAction" @click="profileAction($event, profile.id)">
          <option style='text-align: left' value="">Edit/Reports</option>
          <option value="edit">Edit</option>
          <option value="archive">Reports</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import { convertDate } from '@/components/common/date.js';
export default {
  name: 'ProfileRow',
  props: {
    listOnly: Boolean,
    selectable: Boolean,
    profile: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    };
  },
  methods: {
    profileAction: function (event, profileId) {
      if (event.target.value === 'edit') {
        console.log(this.$router);
        this.$router.push({ name: 'editProfile', params: { actionType: 'Edit', profileId: profileId } });
      }
      if (event.target.value === 'archive') {
        this.$router.push({ name: 'reportTable', params: { actionType: 'Add', entity: 'profile', id: profileId } });
      }
    }
  },
  filters: {
    convertDate: convertDate
  },
  components: {
  },
  computed: {
  },
  mounted: function () {
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/application.scss';

$row-height: 80px;

.profile-row {
  min-height: $row-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
}

.main-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $separatorColour;

  & > .name {
    word-wrap: break-word;
    font-size: 14px;
  }

  & > .description {
    word-wrap: break-word;
    font-size: 11px;
    margin-bottom: 0px;
    padding-right: 10px;
  }
}

.column {
  width: 12%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  text-align: center;
  & > label {
    font-weight: bold;
    font-size: 10px;
  }
  & > p {
    font-size: 11px;
    margin-bottom: 0px;
    word-wrap: break-word;
  }
}

.viewAction {
}
.center-dropdown {
  text-align: center;
}

.profile-row.selectable:hover {
  background-color: $footerBackground;
  cursor: pointer;
  border-radius: 8px;
  color: white;
}
</style>
