<template>
  <div id="profileTable">
    <b-row no-gutters>
      <b-col order='2' cols='12' sm='3'>
        <b-button id="addNewProfileButton" size="md" class="dropshadowButton addButton" @click="addProfile">
          <label>Add new Data Profile</label>
          <img src="~@/assets/images/white-plus-icon.svg" />
        </b-button>
      </b-col>
      <b-col order='1' cols='12' sm='9'>
        <label class="pageTitle">{{ title }}</label>
        <p class="instructions">
          A List of Data Profiles associated with this account. You can add more data profiles by clicking the "Add New Data Profile" button.
        </p>
      </b-col>
    </b-row>
    <profile-list/>
  </div>
</template>

<script>
import ProfileList from './ProfileList.vue';
import { LOAD_PROFILES } from '@/state/action-types';
import { WAITING_PROFILES } from '@/state/loading-types';
import { mapGetters } from 'vuex';
export default {
  name: 'Profiles',
  data () {
    return {
      title: 'Data Profiles',
      accountId: 0,
      selectedName: '',
      WAITING_PROFILES: WAITING_PROFILES,
      rowPerPage: 10,
      currentPage: 1,
      totalRows: 5
    };
  },
  methods: {
    addProfile: function () {
      this.$router.push({ name: 'addProfile', params: { actionType: 'Add' } });
    }
  },
  computed: {
    ...mapGetters([
      'profiles'
    ])
  },
  components: {
    ProfileList: ProfileList
  },
  mounted: function () {
    this.$wait.start(WAITING_PROFILES);
    this.$store.dispatch(LOAD_PROFILES).then(() => {
      this.$wait.end(WAITING_PROFILES);
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.centerSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

</style>
