<template>
  <b-container id="profileList" fluid>
    <b-row v-if="searchAvailable">
      <input ref="searchBox" id="profileSearch" type="text" class="searchBox" v-model="search" style='margin-bottom:3px;'/>
    </b-row>
    <b-row v-if="$wait.is(WAITING_PROFILES)">
      <b-spinner class="orangeSpinner centerSpinner"></b-spinner>
    </b-row>
    <b-row v-else-if="filteredProfiles.length == 0">
      <b-col offset="4" cols="4">
        <p id="noProfilesAvailable"  class="warningText"> No Profiles available for this account</p>
      </b-col>
    </b-row>
    <template v-else>
      <profile-row @selected="selectable ? $emit('input', profile) : null" :selectable="selectable" :key="profile.id"  v-for="profile in filteredProfiles" :listOnly="listOnly" :profile="profile"></profile-row>
      <b-pagination v-if="totalRows > filteredProfiles.length"  :per-page=rowPerPage size="md" :total-rows=totalRows  v-model="currentPage"  aria-controls="profile-table"/>
    </template>
  </b-container>
</template>

<script>
import ProfileRow from './ProfileRow.vue';
import { LOAD_PROFILES } from '@/state/action-types';
import { WAITING_PROFILES } from '@/state/loading-types';
import { mapGetters } from 'vuex';
export default {
  name: 'Profiles',
  data () {
    return {
      title: 'Data Profiles',
      search: '',
      accountId: 0,
      selectedName: '',
      WAITING_PROFILES: WAITING_PROFILES,
      rowPerPage: 10,
      currentPage: 1,
      totalRows: 5
    };
  },
  props: {
    listOnly: Boolean,
    selectable: Boolean,
    searchAvailable: Boolean
  },
  methods: {
    addProfile: function () {
      this.$router.push({ name: 'addProfile', params: { actionType: 'Add' } });
    }
  },
  computed: {
    filteredProfiles: function () {
      var profiles = this.profiles;
      if (this.search) {
        const search = this.search.toLowerCase();
        profiles = profiles.filter(function (profile) {
          return profile.name.toLowerCase().indexOf(search) !== -1 || profile.description.toLowerCase().indexOf(search) !== -1;
        });
      }
      return profiles;
    },
    ...mapGetters([
      'profiles'
    ])
  },
  components: {
    ProfileRow: ProfileRow
  },
  mounted: function () {
    this.$wait.start(WAITING_PROFILES);
    this.$store.dispatch(LOAD_PROFILES).then(() => {
      this.$wait.end(WAITING_PROFILES);
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.centerSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.searchBox {
  width: 100%;
  max-height: 28px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 13px;
  padding-bottom: 3px;
  border-radius: 4px;
  background: url(../../assets/images/search.svg) no-repeat scroll 13px 13px;
  background-color: white;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border-color: #dedede;
  &::placeholder {
    color: #9B9B9B;
  }
}

</style>
