$lightPink: #ede3e3; 
$buttonColour: #F1592A;
$buttonText: white;
$inputBackground: #F8F8F8;
$warningText: red;
$sideBar: #F1592A;
$rowBackground: $lightPink;

$orange: #F1592A;

.rowFilter {
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
}

textarea {
  overflow: hidden;
  background-color: $inputBackground;
}

input[type=text] {
  background-color: $inputBackground;
}

body, body * { 
    font-family:  Montserrat;
}  /* this affects every element in the body and the body itself */


.saveButton {
  background-color: $buttonColour; 
  border: none;
  border-radius: 5px;
  color: $buttonText;
  padding: 15px 32px;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
  float: right;
  &:active {
    box-shadow: 0px 0px 0px black;
  }
  &:focus {
    outline:0;
    border: none;
  }
} 

.warningText {
  color: $warningText;
}

.addButton {
  cursor: pointer;
  background-color: $buttonColour; 
  border: none;
  border-radius: 5px;
  color: $buttonText;
  padding: 15px 32px;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
  float: right;
  &:active {
    box-shadow: 0px 0px 0px black;
  }
  &:focus {
    outline:0;
    border: none;
  }
}

.viewButton {
  cursor: pointer;
  background-color: white;
  border: solid 2px $orange;
  color: $orange;
  border-radius: 5px;
  &:active {
    box-shadow: 0px 0px 0px $orange;
  }
  &:focus {
    box-shadow: 0px 0px 5px $orange;
    outline:0;
  }
  
}

.profilePicture {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.rightSeparator {
  border-right: grey 1px solid;
}

.verticalCenterItems {
  display: flex; 
  align-items:center;
}
