@import "validation.scss";
$lightPink: #ede3e3; 
$buttonColour: #F1592A;
$buttonText: white;
$inputBackground: #F8F8F8;
$warningText: red;
$sideBar: #F1592A;
$rowBackground: #F9F9F9;
$separatorColour: #E5E5E5;


$orange: #F1592A;
$greyFont: #BFBFBF;

select {
  background: white;
  border: 1px solid #777776;;
  color: #777776;;
  border-radius: 4px;
  padding: 4px;
}

textarea {
  overflow: hidden;
  background-color: $inputBackground;
  border-radius: 3px;
}

input[type=text] {
  background-color: $inputBackground;
  border-radius: 3px;
}

body, body * { 
    font-family:  Montserrat;
}  /* this affects every element in the body and the body itself */


.saveButton {
  background-color: $buttonColour; 
  border: none;
  border-radius: 5px;
  color: $buttonText;
  padding: 15px 32px;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
  font-weight: bold;
  &:active {
    box-shadow: 0px 0px 0px black;
  }
  &:focus {
    outline:0;
    border: none;
  }
} 


.addButton {
  cursor: pointer;
  background-color: $buttonColour; 
  border: none;
  border-radius: 5px;
  color: $buttonText;
  padding: 7px 10px;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: 12px;
  &:active {
    box-shadow: 0px 0px 0px black;
  }
  &:focus {
    outline:0;
    border: none;
  }
  & > label {
    margin-left: 5px;
    font-size: 2em;
    vertical-align: sub;
  }
}

.viewButton {
  cursor: pointer;
  background-color: white;
  border: solid 2px $orange;
  color: $orange;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  &:active {
    box-shadow: 0px 0px 0px $orange;
  }
  &:focus {
    box-shadow: 0px 0px 5px $orange;
    outline:0;
  }
  
}

.profilePicture {
  border-radius: 50%;
  width: 21px;
  height: 21px;
}

.rightSeparator {
  border-right: 1px solid $separatorColour;
  box-sizing: border-box;
}

.verticalCenterItems {
  display: flex; 
  align-items:center;
}

.shadedRow {
  border: 1px solid #F3F2F2;
  border-radius: 4px;
  background-color: $rowBackground;
  margin-top: 15px;
}

/**
 * hiding original checkboxes
 */
input[type=checkbox] {
  visibility: hidden;
}

.orangeCheckbox {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: relative;
  border: 1px solid grey;
}

.orangeCheckbox label {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  background: #333;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.orangeCheckbox input[type=checkbox]:checked + label {
  background: $orange;
}

.navigationLink {
  text-decoration: underline;
}

.instructions {
  font-size: 12px;
}

.pageTitle {
   font-weight: bold;
   font-size: 22px;
}

a {
  text-decoration: none;
  color: black;
} 
