.qualityScore {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  + label {
    text-align: center;
    font-size: 8px;
  }
}

.ragError {
  fill: red;
}
.ragWarning {
  fill: yellow;
}
.ragPass {
  fill: green
}
