<template>
   <div>
   <router-link id="tabularDetailsReports" :to="{name: 'listReportView', params: {'reportId': this.reportId}}" class="tabularDetailsNavigateToReports"> <img src="~@/assets/images/back-to-left-arrow.svg"/> Back to List</router-link>
   <div id='tabularDetails'>
    <div >
      <p class="tabularDetailsProcessor">{{ reportItem.processor }}</p>
      <p class="tabularDetailsItemType">{{ reportItem.code }}</p>
      <p class="tabularDetailsItemMessage">{{ reportItem.message }}</p>
      <div id='tabularDetailsReport'/>
      <b-table v-if="inlineTable" :fields="fields" :items="inlineTable">
      </b-table>
    </div>
  </div>
  </div>
</template>

<script>
import goodtablesUI from 'goodtables-ui';

export default {
  name: 'TabularDetails',
  props: {
    reportMetaData: {
      type: String,
      required: true
    },
    reportItem: {
      type: Object,
      required: true
    },
    reportId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      content: null,
      fields: [
        {
          sortable: true,
          label: 'Key',
          key: 'key'
        },
        {
          sortable: true,
          label: 'Value',
          key: 'value'
        }
      ]
    };
  },
  components: {
  },
  methods: {
    makeReport: function () {
      return {
        'error-count': undefined,
        'preset': 'table',
        'table-count': 1,
        'tables': [
          {
            'encoding': 'utf-8',
            'error-count': undefined,
            'errors': [],
            'format': 'csv',
            'headers': [],
            'row-count': undefined,
            'schema': 'table-schema',
            'scheme': 's3',
            'valid': false
          }
        ],
        'valid': false,
        'warnings': null
      };
    },
    setOneError: function (content) {
      var report = this.makeReport();
      console.log(this.reportItem);
      report['error-count'] = '1';
      report.tables[0]['row-count'] = 1;
      report.tables[0]['error-count'] = 1;
      report.tables[0]['errors'] = [this.reportItem];
      // report.tables[0]['errors'] = [{
      //   'code': this.reportItem.code,
      //   'message': this.reportItem.message,
      //   'message-data': this.reportItem['error-data'],
      //   'column-number': this.reportItem.item.entity.location.column,
      //   'row-number': this.reportItem.item.entity.location.row
      // }];
      report.tables[0]['source'] = content.tables[0]['source'];
      report.tables[0]['headers'] = content.tables[0].headers;

      return report;
    }
  },
  computed: {
    format () {
      if (this.reportItem && this.reportItem['error-data'] && this.reportItem['error-data']._format) {
        return this.reportItem['error-data']._format;
      }
      return false;
    },
    inlineTable () {
      if (this.format === 'table') {
        return this.reportItem['error-data']['items'].map((item) => { return { key: item[0], value: item[1] }; });
      }
      return false;
    }
  },
  watch: {
    content (content) {
      if (content) {
        const element = document.getElementById('tabularDetailsReport');
        goodtablesUI.render(goodtablesUI.Report, { report: content }, element);
      }
    }
  },
  mounted: function () {
    this.content = this.setOneError(JSON.parse(this.reportMetaData));
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
@import '~@/assets/scss/application.scss';

.tabularDetailsProcessor {
  font-size: 17px;
  color: #333333;
  font-weight: $bold;
  margin-top: 10px;
}

.tabularDetailsItemType {
  font-size: 12px;
  color: #777776;
  font-weight: $bold;
}

.tabularDetailsItemMessage {
  font-size: 14px;
  font-weight: $bold;
}

.tabularDetailsNavigateToReports {
  font-size: 12px;
  margin-top: 20px;
}

/* To get scrollbars on top */
#tabularDetailsReport .table-view .inner {
  transform: rotate(180deg);
  direction: rtl;

  table.table {
    direction: ltr;
    transform: rotate(180deg);

    td.fail {
      background-color: #fdb7a8;
      border: thick $orange solid;
    }
  }
}
</style>
