<template>
  <div id='report-row' class="report-row shadedRow">
    <div class="main-column">
      <label class="profileName">Report {{ report.profile }}</label>
      <p class="reportName">
        <span v-for="(nameRow, ix) in nameRows" :key="ix">{{ nameRow }}<br/></span>
      </p>
    </div>
    <div class="column">
      <label class="ranOn">Ran On</label>
      <p v-if="report.createdAt">{{ report.createdAt | convertDateTime }}</p>
    </div>
    <div class="rag-column">
      <div class="align-rag-item">
        <svg width="14" height="14" >
            <circle class="ragError" cx="7" cy="7" r="7"/>
        </svg>
        <label id="errors" class="ragNumber" >{{ report.errors }}</label>
      </div>
      <div class="align-rag-item">
          <svg height="14" width="14">
            <polygon class="ragWarning" points="0,14 7,0 14,14"/>
          </svg>
        <label id="warnings" class="ragNumber">{{ report.warnings }}</label>
      </div>
      <div class="align-rag-item">
        <svg width="14" height="14" >
          <rect class="ragPass" width="14" height="14" fill="lime"/>
        </svg>
        <label id="passes" class="ragNumber">{{ report.passes }}</label>
      </div>
    </div>
    <div class="column">
      <div class="center-button">
        <input id="viewReport + 'report.name'" type="button" value="View Report" @click="viewReport(report.id)" class="viewButton"/>
      </div>
    </div>
  </div>
</template>

<script>
import { convertDateTime } from '@/components/common/date.js';

export default {
  name: 'ReportRow',
  props: {
    report: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    };
  },
  methods: {
    viewReport: function (id) {
      this.$router.push({ name: 'listReportView', params: { 'report': this.report, 'reportId': id } });
    }
  },
  filters: {
    convertDateTime: convertDateTime
  },
  components: {
  },
  computed: {
    nameRows: function () {
      return this.report.name.split(' | ');
    }
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../../assets/scss/application.scss';
@import '../../assets/scss/reports.scss';

.profileName {
  font-size: 14px;
}

.reportName {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
  margin-bottom: 0px;
}

.main-column {
  width: 30%;
}

label {
  margin-bottom: 0px;
}

.report-row {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
}

.column {
  width: 20%;
  .columnTitle {
    font-weight: $bold;
  }
}

.rag-column {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.ranOn {
  font-weight: $bold;
  font-size: 0.625em;
  margin-left: 20px;
  + p {
    font-size: 0.688em;
    margin-bottom: 0px;
  }
}

.ragNumber {
  vertical-align: top;
  padding-left: 5px;
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 1;
}

.center-button {
  text-align: center;
}

.align-rag-item {
  display: flex;
  flex-direction: row;
}

.align-rag-item svg {
  margin-right: 5px;
}
</style>
