<template>
   <div id="reportTable" v-if="reports" >
    <div >
      <label class="pageTitle">{{ title }}</label>
      <p class="instructions" v-if="entityObj">
      Here is a list of generated reports for
      <span v-if="entity === 'profile'">
        profile {{ profile.name }}
      </span>
      <span v-if="entity === 'dataResource'">
        data resource {{ dataResource.filename }} in
        <router-link :to="{ name: 'reportTable', params: { entity: 'package', id: dataResource.packageId } }">{{ dataResource.packageName }}</router-link>
      </span>
      <span v-if="entity === 'package'">
        data package <a :href="dataPackage.url">{{ dataPackage.name }}</a>
      </span>
      </p>
      <p class="instructions" v-else>
      Here is a list of generated reports that are available
      </p>
      <p v-if="page > 1">(Page {{ page }})</p>
      <div class="btn-group">
          <select id="dateFilter" class="custom-select mr-3"  v-model="selectedDate" >
            <option disabled value="" >Filter by Date</option>
            <option v-for="(date, ix) in dateList" v-bind:key="ix">{{ date }}</option>
          </select>
          <select id="userFilter" class="custom-select mr-3" v-model="selectedUser" >
            <option disabled value="" >Filter by User</option>
            <option v-for="userName in userNameList" v-bind:key="userName">{{ userName }}</option>
          </select>
          <select id="profileFilter" class="custom-select mr-3" v-model="selectedProfile">
            <option disabled value="" >Filter by Profile</option>
            <option v-for="profile in profileList" v-bind:key="profile">{{ profile }}</option>
          </select>
      </div>
      <b-row v-if="incompleteRuns.length" class="incompleteRow">
        <b-col columns="12">
          <p v-if="incompleteRuns.length === 1">NB: there is one report run not yet complete.</p>
          <p v-else>NB: there are {{ incompleteRuns.length }} report runs not yet complete.</p>
        </b-col>
      </b-row>
      <b-row v-if="$wait.is(WAITING_REPORTS)">
        <b-col offset="4" cols="4">
          <b-spinner class="orangeSpinner mt-5"></b-spinner>
        </b-col>
    </b-row>
      <div id="noReportsAvailable" v-else-if="reports.length == 0">
        <p class="instructions">No Reports available for this account</p>
      </div>
      <div id="columns" v-else>
        <report-row :key="report.id" v-for="report in filteredReports" :report="report"></report-row>
        <b-pagination v-if="totalRows > reports.length"  :per-page=rowPerPage size="md" :total-rows=totalRows  v-model="currentPage"  aria-controls="reports-table"/>
      </div>
      <div>
        <b-button @click="nextPage()">More...</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import ReportRow from './ReportRow';
import { convertDate, selectedFiltered, dateList } from '@/components/common/date.js';
import { getUniqueListOfValues } from '@/components/common/dropdown.js';
import { WAITING_REPORTS } from '@/state/loading-types';
import {
  LOAD_REPORTS,
  LOAD_INCOMPLETE_RUNS,
  LOAD_DATA_RESOURCE,
  LOAD_DATA_PACKAGE,
  LOAD_PROFILE
} from '@/state/action-types';

export default {
  name: 'ReportTable',
  data () {
    return {
      title: 'Validation Reports',
      selectedUser: '',
      selectedDate: '',
      selectedProfile: '',
      page: 1,
      WAITING_REPORTS: WAITING_REPORTS,
      getDataInterval: {},
      currentPage: 1,
      rowPerPage: 10,
      totalRows: 2
    };
  },
  props: {
    entity: {
      type: String,
      required: false,
      default: ''
    },
    id: {
      type: String,
      required: false,
      default: ''
    }
  },
  methods: {
    sortByDate: function (reports) {
      return reports.sort((rep1, rep2) => moment(rep2.createdAt) - moment(rep1.createdAt));
    },
    loadEntity: function () {
      var entity = this.entity;
      if (entity === 'resource') {
        this.$store.dispatch(LOAD_DATA_RESOURCE, { provider: '_local', resourceId: this.id });
      } else if (entity === 'profile') {
        this.$store.dispatch(LOAD_PROFILE, this.id);
      } else if (entity === 'package') {
        this.$store.dispatch(LOAD_DATA_PACKAGE, { packageId: this.id });
      }
    },
    nextPage: function () {
      this.page += 1;
      this.loadReports();
    },
    loadReports: function () {
      this.$wait.start(WAITING_REPORTS);
      var params = { page: this.page };
      if (this.id && this.entity) {
        params.id = this.id;
        params.entity = this.entity;
      } else {
        params.id = null;
        params.entity = null;
      }
      this.$store.dispatch(LOAD_REPORTS, params).then(() => {
        this.$wait.end(WAITING_REPORTS);
      });
      this.$store.dispatch(LOAD_INCOMPLETE_RUNS);
    }
  },
  components: {
    ReportRow: ReportRow
  },
  computed: {
    incompleteRuns: function () {
      return this.$store.getters.incompleteRuns;
    },
    entityObj: function () {
      if (this.entity === 'resource' && this.dataResource) {
        return this.dataResource;
      } else if (this.entity === 'profile' && this.profile) {
        return this.profile;
      } else if (this.entity === 'package' && this.package) {
        return this.dataPackage;
      }
      return null;
    },
    package: function () {
      return this.$store.state.packages.currentDataPackage;
    },
    resource: function () {
      return this.$store.state.resources.currentDataResource;
    },
    profile: function () {
      return this.$store.state.profiles.currentProfile;
    },
    userNameList: function () {
      return getUniqueListOfValues(this.reports, 'user', 'name');
    },
    dateList: function () {
      return dateList(this.reports);
    },
    profileList: function () {
      return getUniqueListOfValues(this.reports, 'profile');
    },
    reports: function () {
      return this.$store.getters.reports;
    },
    filteredReports: function () {
      var result = this.reports;
      if (this.selectedDate !== '') {
        result = result.filter((report) => {
          return convertDate(report.createdAt) === this.selectedDate;
        });
      }
      result = selectedFiltered(result, this.selectedUser, 'user', 'name');
      result = selectedFiltered(result, this.selectedProfile, 'profile');
      return this.sortByDate(result);
    }
  },
  mounted: function () {
    this.loadReports();
    this.loadEntity();
    this.getDataInterval = setInterval(this.loadReports, this.dataPollingInterval);
  },
  beforeDestroy: function () {
    clearInterval(this.getDataInterval);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.incompleteRow {
  background-color: $footerBackground;
  color: white;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  border-bottom: thick $orange solid;
}

</style>
