<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />
    <link rel="stylesheet" href="//unpkg.com/goodtables-ui/dist/goodtables-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src='https://cdn.polyfill.io/v2/polyfill.min.js'></script>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Lintol</title>
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token()                       }}">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but lintol doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
