<template>
   <div>
   <div id='documentDetails'>
    <div class="documentContainer">
      <div class="documentMask"></div>
      <div class="documentContextUp" v-if="contextUp">
        {{ contextUp }}
      </div>
      <div class="documentContent">
        <div class="documentLocation">Line {{ reportItem.item.entity.location.from.line }}...</div>
        <template v-if="typeof definition == 'object'">
          <annotated-text-aspect class="itemSnippet" v-if="definition._aspect == 'annotated'" :aspect="definition" />
        </template>
        <p class="itemSnippet" v-else>
          {{ definition }}
        </p>
      </div>
    </div>
    <div class="documentContextDown" v-if="contextDown">
      {{ contextDown }}
    </div>
  </div>
  </div>
</template>

<script>
import AnnotatedTextAspect from '@/components/aspects/AnnotatedTextAspect.vue';

export default {
  name: 'DocumentDetails',
  props: {
    reportMetaData: {
      type: String,
      required: true
    },
    reportItem: {
      type: Object,
      required: true
    },
    reportId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
    };
  },
  components: {
    AnnotatedTextAspect
  },
  methods: {
  },
  computed: {
    contextUp: function () {
      if (this.reportItem.context && this.reportItem.context.length >= 1) {
        const context = this.reportItem.context[0].entity.definition;
        return context.split(this.content)[0];
      }
      return null;
    },
    contextDown: function () {
      if (this.reportItem.context && this.reportItem.context.length >= 1) {
        const context = this.reportItem.context[0].entity.definition;
        return context.split(this.content)[1];
      }
      return null;
    },
    content: function () {
      if (typeof this.definition === 'object') {
        return this.definition.plaintext;
      }
      return this.definition;
    },
    definition: function () {
      return this.reportItem.item.entity.definition;
    },
    processor: function () {
      if (this.reportItem) {
        var configuration = this.$store.getters.findProcessorConfiguration(this.reportItem.processor);
        if (configuration) {
          return configuration.processor;
        }
      }
      return null;
    }
  },
  mounted: function () {
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss' scoped>
@import '~@/assets/scss/application.scss';

.processor {
  font-size: 17px;
  color: #333333;
  font-weight: $bold;
  padding-top: 10px;
}

.itemType {
  font-size: 12px;
  color: #777776;
  font-weight: $bold;
}

.itemMessage {
  font-size: 14px;
  font-weight: $bold;
}

.navigateToReports {
  font-size: 12px;
}

.documentContainer {
  position: relative;
  margin-bottom: -40px;
}

.documentContextUp {
  color: grey;
  position: relative;
}

.documentContextDown {
  color: grey;
  position: relative;
  top: -5px;
}

.documentMask {
  background: linear-gradient(white, transparent, white);
  position: absolute;
  height: calc(100% - 100px);
  width: 100%;
  z-index: 50;
}

.documentLocation {
  position: relative;
  top: 20px;
  z-index: 10;
  background: white;
  border-radius: 10px;
  border: thin black solid;
  font-weight: bold;
  border-bottom: none;
  padding: 10px;
  width: 20%;
}

.documentContent {
  position: relative;
  top: -40px;
  z-index: 100;
}

.itemSnippet {
  background: white;
}
</style>
