<template>
   <div>
   <router-link id="reports" :to="{name: 'listReportView', params: {'reportId': this.reportId}}" class="navigateToReports"> &#x3008; Back to List</router-link>
   <div id='exceptionDetails'>
    <div >
      <p class="processor">Processor: {{ processor ? processor.uniqueTag : reportItem.processor }}</p>
      <p class="itemType">{{ reportItem.code }}</p>
      <p class="itemMessage">{{ reportItem.message }}</p>
      <div>
        <pre>{{ errorData }}</pre>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'ExceptionDetails',
  props: {
    reportMetaData: {
      type: Object,
      required: true
    },
    reportItem: {
      type: Object,
      required: true
    },
    reportId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
    };
  },
  components: {
  },
  methods: {
  },
  computed: {
    processor: function () {
      if (this.reportItem) {
        var configuration = this.$store.getters.findProcessorConfiguration(this.reportItem.processor);
        if (configuration) {
          return configuration.processor;
        }
      }
      return null;
    },
    errorData () {
      if ('error-data' in this.reportItem) {
        return this.reportItem['error-data']['keyword arguments'].message;
      }
      return this.reportItem['code'];
    }
  },
  mounted: function () {
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss' scoped>
@import '~@/assets/scss/application.scss';

.processor {
  font-size: 17px;
  color: #333333;
  font-weight: $bold;
  padding-top: 10px;
}

.itemType {
  font-size: 12px;
  color: #777776;
  font-weight: $bold;
}

.itemMessage {
  font-size: 14px;
  font-weight: $bold;
}

.navigateToReports {
  font-size: 12px;
}
</style>
