<template>
  <div id="processor-panel">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Processors',
  props: {
  },
  data () {
    return {
    };
  },
  methods: {
  },
  components: {
  },
  computed: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

</style>
