<template>
  <div id="profiles-panel">
     <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Profiles',
  data () {
    return {
    };
  },
  components: {
  }
};
</script>

<style lang="scss" scoped>
</style>
