<template>
  <div id="resources-panel">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Resources',
  data () {
    return {
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div#resources-panel.panel {
}
</style>
