<template>
    <div id="processors-row" no-gutters class="processor-row shadedRow">
      <div class="main-column">
        <label class="name">{{ processor.name }}</label>
        <p class="description">{{ processor.description }}</p>
      </div>
      <div class="column">
        <label>Created</label>
        <p>{{ processor.created_at | convertDate }}</p>
      </div>
      <div class="column">
        <label>Updated</label>
        <p>{{ processor.updated_at | convertDate }}</p>
      </div>
      <div class="column">
        <label>Unique Tag</label>
        <p>{{ processor.uniqueTag }}</p>
      </div>
      <div class="configurationsColumn">
        <label>{{ processor.configurationCount ? processor.configurationCount : 0 }}</label>
        <p>Configurations</p>
      </div>
      <div class="statusColumn">
        <template v-if="processor.status">
          <label>{{ processor.status.available + "/" + processor.status.total }}</label>
          <p>Avail/Total</p>
        </template>
        <span v-else>(inactive)</span>
      </div>
      <div class="menu-column">
        <div>
          <b-spinner v-if="requesting" type="grow" label="Spinning"></b-spinner>
          <b-dropdown v-else variant="outline" no-caret dropright>
            <template v-slot:button-content>
              <b-icon-three-dots-vertical />
            </template>
            <b-dropdown-item @click="processorActionRestart()">Restart</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
</template>

<script>
import { convertDate } from '@/components/common/date.js';
import { BIconThreeDotsVertical } from 'bootstrap-vue';
import { RESTART_PROCESSOR } from '@/state/action-types.js';

export default {
  name: 'ProcessorRow',
  props: {
    processor: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      requesting: false
    };
  },
  methods: {
    processorActionRestart () {
      this.requesting = true;
      this.$store.dispatch(RESTART_PROCESSOR, { id: this.processor.id })
        .then(
          () => { this.requesting = false; },
          () => { this.requesting = false; }
        );
    }
  },
  filters: {
    convertDate: convertDate
  },
  components: {
    BIconThreeDotsVertical
  },
  computed: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../../assets/scss/application.scss';

/* Because bootstrap has all labels margin-bottom: 0.5rem */
label {
  margin-bottom: 0px;
}

.processor-row {
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80px;
}

.main-column {
  width: 38%;

  .name {
    color: $orange;
    font-weight: $bold;
    font-size: 0.75em;
  }

  .description {
    font-size: 0.688em;
    word-wrap: break-word;
    margin-bottom: 0px;
  }
}

.menu-column {
  width: 2%;
  text-align: center;
}

.column {
  width: 10%;
  text-align: center;
  & > label {
    font-weight: bold;
    font-size: 10px;
  }
  & > p {
    font-size: 11px;
    margin-bottom: 0px;
    word-wrap: break-word;
  }
}

.configurationsColumn, .statusColumn {
  width: 15%;
  text-align: center;
  & > label {
    font-weight: bold;
    font-size: 21px;
  }
  & > p {
    font-size: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
  }
}

</style>
