<template>
  <div class="app" v-if="ready">
   <navigation id="navigation" class="menu"></navigation>
   <keep-alive include="Resources, ResourceTable">
     <router-view class="panel"/>
   </keep-alive>
  </div>
</template>

<script>
import Navigation from './Navigation';
import { LOAD_LOGGED_IN_USER } from '../state/action-types';
export default {
  name: 'Application',
  data () {
    return {
    };
  },
  methods: {
  },
  components: {
    Navigation: Navigation
  },
  watch: {
  },
  mounted: function () {
    this.$store.dispatch(LOAD_LOGGED_IN_USER);
  },
  computed: {
    ready: function () {
      return this.$store.getters.ready;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.app {
}

.menu {
  z-index: 1;
  height: 100vh;
  position: fixed;
}

.panel {
  padding-left: 250px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

</style>
