<template>
  <div id="dashboard">
    <b-row no-gutters>
      <b-col order='1' cols='12' sm='12'>
        <h1>Dashboard</h1>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col order='1' cols='12' sm='12'>
        <b-button-group size="lg">
          <b-button variant="outline-primary" :to="{name: 'entityDashboard'}">Entities</b-button>
          <b-button variant="outline-primary" :to="{name: 'dataResourceDashboard'}">Data Resources</b-button>
        </b-button-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols='12'>
       <router-view></router-view>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data () {
    return {
    };
  },
  components: {
  }
};
</script>

<style lang="scss" scoped>

#dashboard {
  width: 100%;
}
</style>
