<template>
  <b-container id="mySettings">
    <b-row>
      <b-col cols='12'>
        <label class="pageTitle">{{ title }}</label>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <personal-access-tokens/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {
  LOAD_LOGGED_IN_USER
} from '@/state/action-types';
import PersonalAccessTokens from './passport/PersonalAccessTokens.vue';

export default {
  name: 'MySettings',
  data () {
    return {
      title: 'My Settings'
    };
  },
  methods: {
  },
  computed: {
  },
  filters: {
  },
  mounted: function () {
    this.$store.dispatch(LOAD_LOGGED_IN_USER);
  },
  components: {
    'personal-access-tokens': PersonalAccessTokens
  }
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';
</style>
