<template>
  <b-container id="data-resource-dashboard" fluid>
    <b-row no-gutters>
      <b-col order='1' cols='10' sm='10'>
        <h2>Data Resources</h2>
      </b-col>
      <b-col order='1' cols='2' sm='2'>
        <h3>{{ which }}</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col order='1' cols='12' sm='12'>
        <b-form-group label="Summary">
          <b-form-radio-group buttons v-model="which" :options="whichOptions">
          </b-form-radio-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col order='1' cols='12' sm='12'>
        <div class='chart'>
          <chart-sankey :data='chartData'></chart-sankey>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col order='1' cols='12' sm='12'>
        <b-form-group label="Created Since">
          <b-form-radio-group buttons v-model="when" :options="whenOptions">
          </b-form-radio-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="mt-5">
      <b-col order='1' cols='12' sm='9'>
        <h2>Resources</h2>
      </b-col>
      <b-col order='2' cols='12' sm='3'>
      </b-col>
    </b-row>
    <b-row :key="status" v-for="(count, status) in dataResourceStatuses">
      <b-col order='1' cols='12' sm='6'>
        <h3>{{ status }}</h3>
      </b-col>
      <b-col order='2' cols='12' sm='6'>
        <p>{{ count }}</p>
      </b-col>
    </b-row>
    <b-row class="mt-5">
      <b-col order='1' cols='12' sm='9'>
        <h2>Validation Runs</h2>
      </b-col>
      <b-col order='2' cols='12' sm='3'>
      </b-col>
    </b-row>
    <b-row :key="status" v-for="(count, status) in runStatuses">
      <b-col order='1' cols='12' sm='6'>
        <h3>{{ status }}</h3>
      </b-col>
      <b-col order='2' cols='12' sm='6'>
        <p>{{ count }}</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { LOAD_DATA_RESOURCE_SUMMARY } from '@/state/action-types';
import { WAITING_RESOURCES } from '@/state/loading-types';
import { ChartSankey } from 'vue-d2b';
import moment from 'moment';

export default {
  name: 'DataResourceDashboard',
  data () {
    return {
      title: 'DataResourceDashboard',
      nodes: [
        { name: 'New resource', next: ['Ready to process', 'Missing'] },
        { name: 'Ready to process', next: ['Processors checked'] },
        { name: 'Missing' },
        { name: 'Processors checked', next: ['Unmatched', 'Matched'] },
        { name: 'Unmatched' },
        { name: 'Matched', next: ['Report failed', 'Report run'] },
        { name: 'Report failed' },
        { name: 'Report run' }
      ],
      which: 'now',
      when: null,
      chartConfig (config) {
        config
          .sankey()
          .sankey()
          .nodePadding(100);
        config
          .sankey()
          .nodeDraggableY(true);
      }
    };
  },
  methods: {
    compareNodes: function (node1, node2) {
      return this.nodeOrder.indexOf(node1.name.toLowerCase()) -
        this.nodeOrder.indexOf(node2.name.toLowerCase());
    }
  },
  components: {
    ChartSankey
  },
  computed: {
    nodeOrder: function () {
      return this.nodes.map((n) => n.name.toLowerCase());
    },
    chartData: function () {
      var nodes = this.nodes.reduce(function (nodes, node) {
        if (node.next !== undefined) {
          nodes.push({ name: node.name.toLowerCase() });
        }
        nodes.push({ name: node.name });
        return nodes;
      }, []);
      console.log(nodes);
      var chartData = {
        nodes: nodes,
        node: {
          padding: 100,
          slice: (x) => ({ sort: this.compareNodes }),
          sort: this.compareNodes
        },
        links: [
          { source: 'new resource', target: 'ready to process', value: 1 },
          { source: 'new resource', target: 'New resource', value: 1 },
          { source: 'new resource', target: 'Missing', value: 1 },
          { source: 'ready to process', target: 'processors checked', value: 1 },
          { source: 'ready to process', target: 'Ready to process', value: 1 },
          { source: 'processors checked', target: 'Processors checked', value: 1 },
          { source: 'processors checked', target: 'matched', value: 1 },
          { source: 'processors checked', target: 'Unmatched', value: 1 },
          { source: 'matched', target: 'Matched', value: 1 },
          { source: 'matched', target: 'Report failed', value: 1 },
          { source: 'matched', target: 'Report run', value: 1 }
        ]
      };

      var relationship = {
        'new resource': { link: 1, remainder: 0 },
        'ready to process': { link: 4, remainder: 0 },
        'missing': { link: 2, remainder: 0 },
        'processors checked': { link: 5, remainder: 0 },
        'unmatched': { link: 7, remainder: 0 },
        'matched': { link: 8, remainder: 0 },
        'report failed': { link: 9, remainder: 0 },
        'report run': { link: 10, remainder: 0 }
      };

      var state;
      var sample = this.dataResourceStatuses;
      for (state in sample) {
        var cmpts = state.split(':');
        var stateType = cmpts[0];
        if (stateType in relationship) {
          relationship[stateType].remainder += sample[state];
        }
      }

      chartData.links[6].value += relationship['report run'].remainder + relationship['report failed'].remainder + relationship['matched'].remainder;
      chartData.links[3].value += relationship['processors checked'].remainder + relationship['report run'].remainder + relationship['report failed'].remainder + relationship['matched'].remainder + relationship['unmatched'].remainder;
      chartData.links[0].value += relationship['ready to process'].remainder + relationship['processors checked'].remainder + relationship['report run'].remainder + relationship['report failed'].remainder + relationship['unmatched'].remainder + relationship['matched'].remainder;

      for (state in relationship) {
        chartData.links[relationship[state].link].value += relationship[state].remainder;
      }

      return chartData;
    },
    whenOptions: function () {
      return [
        {
          text: 'All',
          value: null
        },
        {
          text: '1d',
          value: moment().subtract(1, 'days')
        },
        {
          text: '1h',
          value: moment().subtract(1, 'hours')
        },
        {
          text: '5m',
          value: moment().subtract(5, 'minutes')
        }
      ];
    },
    whichOptions: function () {
      return this.whiches.map(function (which) {
        return {
          text: which.title,
          value: which.key
        };
      });
    },
    whiches: function () {
      return Object.keys(this.$store.getters.summaries.results).map(function (which) {
        if (which === 'now') {
          return {
            'title': 'Now',
            'date': null,
            'key': which
          };
        } else {
          var date = moment(which);
          return {
            'title': date.format('Do MMM YYYY HH:mm'),
            'date': date,
            'key': which
          };
        }
      }).sort(function (w1, w2) {
        if (w1.date && w2.date) {
          if (w1.date < w2.date) {
            return 1;
          } else if (w1.date > w2.date) {
            return -1;
          }
        } else if (w1.key === 'Now' && w2.key !== 'Now') {
          return -1;
        } else if (w2.key === 'Now' && w1.key !== 'Now') {
          return 1;
        }
        return 0;
      }).slice(0, 10);
    },
    dataResourceStatuses: function () {
      return this.$store.getters.summaries.results[this.which]['dataResources'];
    },
    runStatuses: function () {
      return this.$store.getters.summaries.results[this.which]['runs'];
    }
  },
  watch: {
    when: function (when) {
      var from = moment().subtract(1, 'days').toISOString();
      this.$store.dispatch(LOAD_DATA_RESOURCE_SUMMARY, { from: from, to: '', when: when })
        .then(() => {
          this.$wait.end(WAITING_RESOURCES);
        });
    }
  },
  mounted: function () {
    this.$wait.start(WAITING_RESOURCES);
    var from = moment().subtract(1, 'days').toISOString();
    this.$store.dispatch(LOAD_DATA_RESOURCE_SUMMARY, { from: from, to: '', when: this.when })
      .then(() => {
        this.$wait.end(WAITING_RESOURCES);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexHeading {
  min-width: 120px;
  display: inline-block;
}

.tableSeparator {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.custom-select{
  margin-top: 5px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.chart {
  height: 1000px;
}

#data-resource-dashboard {
  width: 100%;
}
</style>
