<template>
  <b-container id="entity-dashboard" fluid>
    <b-row no-gutters>
      <b-col order='1' cols='12' sm='12'>
        <h2>Entities</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col order='1' cols='6' sm='6' v-for='(entity, ix) in Object.keys(chartData)' :key='ix'>
        <h3>{{ entities[entity] }}</h3>
        <div class='chart'>
          <chart-axis :config='chartConfig' :data='chartData[entity]'></chart-axis>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { LOAD_STATISTICS_ENTITIES } from '@/state/action-types';
import { WAITING_STATISTICS } from '@/state/loading-types';
import { scaleTime, axisBottom, timeFormat, extent } from 'd3';
import { ChartAxis } from 'vue-d2b';
import { svgArea, svgLine, svgScatter } from 'd2b';
import moment from 'moment';

export default {
  name: 'EntityDashboard',
  data () {
    return {
      title: 'EntityDashboard',
      entities: {
        'Lintol\\Capstone\\Models\\DataResource': 'Data Resources',
        'Lintol\\Capstone\\Models\\Report': 'Reports',
        'Lintol\\Capstone\\Models\\DataResourceStatusChange': 'Data Resource Status Changes',
        'Lintol\\Capstone\\Models\\DataPackage': 'Data Packages',
        'Lintol\\Capstone\\Models\\ValidationRun': 'Validation Runs'
      }
    };
  },
  methods: {
    chartConfig (chart) {
      const monthFormat = timeFormat('%H:%m');

      chart
        .x((d, values) => {
          return {
            axis: axisBottom().tickFormat(monthFormat),
            scale: scaleTime().domain(extent(values))
          };
        });
    }
  },
  components: {
    ChartAxis
  },
  computed: {
    chartData: function () {
      var entities = this.$store.state.statistics.entities;
      var values = {};
      var entity;
      var time;
      var chartData = {};

      var xrange = [];
      for (entity in this.entities) {
        values[entity] = [];

        for (time in entities) {
          values[entity].push({
            x: moment(time).toDate(),
            y: entities[time][entity]
          });
          xrange.push(moment(time).toDate());
        }

        if (values[entity].length) {
          console.log(scaleTime().domain(extent(xrange)));
          chartData[entity] = {
            sets: [
              {
                generators: [svgArea(), svgLine(), svgScatter()],
                graphs: [
                  {
                    label: this.entities[entity],
                    values: values[entity]
                  }
                ]
              }
            ]
          };
        }
      }
      return chartData;
    }
  },
  mounted: function () {
    this.$wait.start(WAITING_STATISTICS);
    this.$store.dispatch(LOAD_STATISTICS_ENTITIES)
      .then(() => {
        this.$wait.end(WAITING_STATISTICS);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexHeading {
  min-width: 120px;
  display: inline-block;
}

.tableSeparator {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.custom-select{
  margin-top: 5px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.chart {
  height: 300px;
  width: 100%;
}

#entity-dashboard {
  width: 100%;
}

</style>
