<template>
    <b-container class="sourceRow">
      <b-row v-if="assigningProfile">
        <b-col cols='12'>
          <b-btn @click="() => $emit('input', null)" id="cancelRunProfileButton" class="processAResource dashedBox">Pick Resource for {{ assigningProfile.name }} or click to Cancel</b-btn>
        </b-col>
      </b-row>
      <b-row v-else>
        <b-col cols='12' lg='3'>
          <b-btn id="uploadYourFiles" class="uploadYourFiles dashedBox" @click="uploadFiles">Upload Your Files</b-btn>
        </b-col>
        <b-col cols='12' lg='3'>
          <b-btn id="addFromURLButton" v-b-modal.addUrlModal class="addFromURL dashedBox">Add From URL</b-btn>
        </b-col>
        <b-col cols='12' lg='6'>
          <b-btn id="processAResourceButton" v-b-modal.processAResourceModal class="processAResource dashedBox">Process a Resource</b-btn>
        </b-col>
      </b-row>
      <b-modal id="processAResourceModal" ref="processAResourceModal" title="Process a Resource" size="lg">
        <p>Choose a Data Profile to run against a Resource / File:</p>
        <profile-list listOnly searchAvailable selectable @input="chooseProfile" />
      </b-modal>
      <b-modal id="addUrlModal" ref="addUrlModal" title="Add from URL">
          <b-container>
            <b-row>
              <b-col cols="12" class="mt-3">
                <b-form-input  id="urlList"  rows="4" placeholder="Url" v-model="url" data-vv-name="url" data-vv-as="Url Link" v-validate="'required'" :class="{ warningBorder: vErrors.has('url') }" />
                <p v-show="vErrors.has('url')" class="warningText" >{{ vErrors.first('url') }}</p>
              </b-col>
            </b-row>
          </b-container>
          <div slot="modal-footer" class="w-100">
            <b-btn id="addURLs" v-b-modal.addUrlModal class="dropshadowButton" @click="addResource">Add URLs to Lintol</b-btn>
          </div>
        </b-modal>
     <!--<div class="externalBox dashedBox">
       <label id="addFromSource" class="addFromSource">Add From Source</label>
       <label class="externalResource dropbox">Dropbox</label>
       <label class="externalResource google">Google</label>
       <label class="externalResource sharefile">ShareFile</label>
       <label class="newResource">Link to New Source</label>
     </div> -->
  </b-container>
</template>

<script>
import { convertDate } from '@/components/common/date.js';
import { STORE_DATA_RESOURCE, LOAD_LOGGED_IN_USER } from '@/state/action-types';
import ProfileList from '@/components/profiles/ProfileList';

export default {
  name: 'AddResourceBlock',
  props: {
    assigningProfile: null
  },
  data () {
    return {
      url: ''
    };
  },
  methods: {
    convertDate: convertDate,
    chooseProfile: function (profile) {
      console.log(profile);
      this.$refs.processAResourceModal.hide();
      this.$emit('input', profile);
    },
    uploadFiles: function () {
      var uploadTarget = null;
      if (this.loggedInUser && this.loggedInUser.driver && this.loggedInUser.driverServer) {
        var driver = this.loggedInUser.driver;
        var driverServer = this.loggedInUser.driverServer;
        if (driver === 'ckan') {
          uploadTarget = driverServer + '/dataset/new';
        } else if (driver === 'github') {
          uploadTarget = driverServer + '/new';
        }
      }
      if (uploadTarget) {
        window.open(uploadTarget, '_uploadFiles');
      }
    },
    addResource: function () {
      this.$validator.validateAll().then((result) => {
        var resource = { source: 'External Link', url: this.url };
        this.$store.dispatch(STORE_DATA_RESOURCE, resource).then(() => {

        });
        this.$emit('newResourceAdded');
        this.$refs.addUrlModal.hide();
        this.clearUserInput();
      }).catch((error) => {
        console.log('Validation error:' + error);
      });
    },
    clearUserInput: function () {
      this.urls = '';
    }
  },
  components: {
    ProfileList: ProfileList
  },
  computed: {
    loggedInUser: function () {
      return this.$store.state.users.loggedInUser;
    }
  },
  mounted: function () {
    this.$store.dispatch(LOAD_LOGGED_IN_USER);
  }
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';

.sourceRow {
   margin: 10px 0px;
   padding-bottom: 10px;
   width: 100%;
}

.uploadYourFiles {
  background: url(../../assets/images/upload-icon.svg) no-repeat scroll 0.875em 0.875em;
  font-size: 0.875em;
  padding: 14px 14px 14px 60px;
  margin: 0px 5px;
  min-width: 190px;
  font-weight: $bold;
  cursor: pointer;
}

#cancelRunProfileButton.processAResource {
  background-color: $footerBackground;
  color: white;
}

.processAResource {
  background: url(../../assets/images/data-processors.svg) no-repeat scroll 0.875em 0.875em;
  background-size: 1.8em;
  position: relative;
  background-color: #FAFAFA;
  font-size: 0.875em;
  padding: 14px 14px 14px 50px;
  margin: 0px 5px;
  min-width: 190px;
  cursor: pointer;
  font-weight: $bold;
  &:hover {
    box-shadow: 0px 0px 4px  #888888;
  }
}

.addFromURL {
  background: url(../../assets/images/add-url.svg) no-repeat scroll 0.875em 0.875em;
  position: relative;
  background-color: #FAFAFA;
  font-size: 0.875em;
  padding: 14px 14px 14px 50px;
  margin: 0px 5px;
  min-width: 190px;
  cursor: pointer;
  font-weight: $bold;
  &:hover {
    box-shadow: 0px 0px 4px  #888888;
  }
}

.dashedBox {
  background-color: #FAFAFA;
  border: dashed 1px #979797;
  border-radius: 4px;
  margin-top : 2px;
  color: black;
}

.addFromSource {
  font-weight: $bold;
  font-size: 0.875em;
}

.externalBox {
  padding: 12px 16px 0px 16px;
}

.externalResource {
  border-radius: 40px;
  padding: 5px;
  font-size: 0.6875em;
  width: 100px;
  text-transform: capitalize;
  font-weight: $bold;
  color: white;
}

.newResource {
  color: #777776;
  font-size: 0.6875em;
  text-decoration: underline;
  font-weight: $bold;
}

.dropbox {
  background-color: #0070E0;
}

.google {
  background-color: #FAC712;
}

.sharefile {
  background-color: #76C54C;
}
.fade.in {
  opacity: 1;
}

@media (max-width: 376px){
  .dashedBox{
    width: 100%;
    text-align: center;
  }
}
</style>
