<template>
  <div class="resources-row" :class="{ selectable: selectable }">
    <b-table :selectable="selectable" @row-clicked="clickedRow" :current-page="currentPage" ref="resources-table" fixed v-if="resources" class="resources-table" small :items="getResources" :fields="fields" :tbody-tr-class="['resourceRow','shadedRow']" id="resources-table" :hover="selectable">
      <template slot="cell(selectedResource)" slot-scope="resource">
           <label class="checkbox-container" v-if="!selectable">
             <input type="checkbox" :id="'active' + resource.item.id" v-model="resourcesSelected" :value="resource.item" />
             <span :for="'active' + resource.id" class="checkmark"></span>
           </label>
      </template>
      <template slot="cell(packageName)" slot-scope="resource">
        <p>{{ resource.item.packageName }}</p>
        <p v-if="showOrganization && organizationTitle(resource.item.organization)" class="resourceOrganization">{{ organizationTitle(resource.item.organization) }}</p>
      </template>
      <template slot="cell(status)" slot-scope="resource">
        <label @click="resource.item.status === 'unmatched' ? modalFor(resource, 'modal-data-resource-status') : null" id="resourceStatus" :class="{'statusLabel': true, [statusColor(resource.item.getInfoLine()[0])]: true}" >{{ resource.item.getInfoLine()[1] }}</label>
      </template>
      <template slot="cell(action)" slot-scope="resource">
        <div class="vertialAlignItems actionButton">
            <b-button class="viewResourceButton" @click="viewResource(resource.item)">View Resource</b-button>
            <b-button class="ml-1 viewResourceButton" :to="{ name: 'reportTable', params: { entity: 'resource', id: resource.item.id } }" v-if="resource.item.runs">View Reports</b-button>
        </div>
      </template>
    </b-table>
    <div v-else>
      <p class="noResourcesCentered">No resources</p>
    </div>
    <b-modal id="modal-data-resource-status" centered title="Data Resource Status Detail">
      <div class="my-4" v-if="spotlitResource && spotlitResource.lastStatusChange && spotlitResource.lastStatusChange.detail">
        <template v-if="spotlitResource.status === 'unmatched'">
          <ul>
            <li v-for="(reason, ix) in reasons(spotlitResource)" :key="ix">
              <span class="profileName" v-if="reason.profileId && findProfile(reason.profileId)">
                {{ findProfile(reason.profileId).name }}:
              </span>
              {{ reason.reason }}
            </li>
          </ul>
        </template>
      </div>
      <p v-else>No detail available</p>
    </b-modal>
    <b-pagination v-if="totalRows > resources.length" size="md" :total-rows=totalRows :per-page=perPage v-model="selectedCurrentPage" aria-controls="resources-table"/>
  </div>
</template>

<script>
import { convertDate } from '@/components/common/date.js';
import { convertSize } from '@/components/common/size.js';
import {
  UPDATE_DATA_RESOURCES_PAGE,
  UPDATE_DATA_RESOURCES_SORT,
  UPDATE_DATA_RESOURCES_ORDER
} from '@/state/action-types';

export default {
  name: 'ResourceRow',
  props: {
    selectable: Boolean,
    clearSelected: {
      type: Boolean,
      required: true
    },
    showOrganization: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      perPage: 25,
      selectedCurrentPage: 1,
      spotlitResource: null,
      fields: [
        {
          sortable: false,
          label: '',
          key: 'selectedResource',
          thClass: 'selectedResource',
          tdClass: 'selectedResource'
        },
        {
          sortable: true,
          label: 'Package Name',
          key: 'packageName',
          thClass: 'filename',
          tdClass: 'filename filenameLabel'
        },
        {
          sortable: false,
          label: 'Resource Name',
          key: 'filename',
          thClass: 'filename',
          tdClass: 'filename filenameLabel'
        },
        {
          sortable: false,
          label: 'File Type',
          key: 'filetype',
          thClass: 'fileType',
          tdClass: 'type-source-dataAdded fileType'
        },
        {
          sortable: false,
          label: 'Size',
          key: 'size',
          formatter: value => { return convertSize(value); },
          thClass: 'fileType',
          tdClass: 'type-source-dataAdded fileType'
        },
        {
          sortable: true,
          label: 'Date Added',
          key: 'created_at',
          thClass: 'dateAdded',
          formatter: value => { return value ? convertDate(value) : ''; },
          tdClass: 'type-source-dataAdded dateAdded'
        },
        {
          sortable: false,
          label: 'Status',
          thClass: 'status',
          tdClass: 'status',
          key: 'status'
        },
        {
          sortable: false,
          label: 'Action',
          thClass: 'actionButton',
          tdClass: 'actionButton',
          key: 'action'
        }
      ],
      tableScroll: {
        overflowY: 'scroll',
        height: '59vh'
      },
      resourcesSelected: []
    };
  },
  methods: {
    clickedRow: function (clickedRow) {
      this.$emit('selected', clickedRow);
    },
    modalFor: function (resource, modalId) {
      this.spotlitResource = resource.item;
      this.$bvModal.show(modalId);
    },
    getResources: function (ctx) {
      var order = 'asc';
      if (ctx.sortDesc) {
        order = 'desc';
      }
      var store = this.$store;
      return store.dispatch(UPDATE_DATA_RESOURCES_ORDER, order).then(function (p) {
        return store.dispatch(UPDATE_DATA_RESOURCES_SORT, ctx.sortBy);
      }).then(() => {
        if (store.state.resources.pageDataResources && this.selectedCurrentPage !== store.state.resources.pageDataResources) {
          this.selectedCurrentPage = store.state.resources.pageDataResources;
        }
        return true;
      }).then(function (p) {
        return store.getters.dataResources;
      });
    },
    convertDate: convertDate,
    convertSize: convertSize,
    viewResource: function (resource) {
      window.open(resource.url, '_blank');
    },
    statusColor: function (status) {
      var result;
      switch (status) {
        case 'new resource':
          result = 'newStatus';
          break;
        case 'report run':
          result = 'runStatus';
          break;
        case 'archived':
          result = 'archivedStatus';
          break;
        case 'valid link':
          result = 'validLinkStatus';
          break;
        case 'unmatched':
          result = 'unmatchedStatus';
          break;
        case 'running':
          result = 'runningStatus';
          break;
        case 'failed':
          result = 'failedStatus';
          break;
        case 'invalid link':
          result = 'invalidLinkStatus';
          break;
        default:
          result = 'invalidStatus';
          break;
      }
      return result;
    }
  },
  watch: {
    clearSelected: function () {
      if (this.clearSelected) {
        this.resourcesSelected = [];
      }
    },
    resourcesSelected: function (resourcesSelected) {
      this.$emit('resourcesSelected', resourcesSelected);
    },
    selectedCurrentPage: function () {
      // this.resourcesSelected = [];
      if (this.selectedCurrentPage && this.selectedCurrentPage !== this.currentPage) {
        this.$store.dispatch(UPDATE_DATA_RESOURCES_PAGE, this.selectedCurrentPage);
      }
    },
    resources: function () {
      this.$refs['resources-table'].refresh();
    }
  },
  components: {
  },
  computed: {
    reasons: function () {
      return this.$store.getters.statusChangeDetail;
    },
    organizationTitle: function () {
      return this.$store.getters.organizationTitle;
    },
    resources: function () {
      return this.$store.getters.dataResources;
    },
    findProfile: function () {
      return this.$store.getters.findProfile;
    },
    currentPage: function () {
      return this.$store.state.resources.pageDataResources;
    },
    resourcePages: function () {
      return this.$store.getters.dataResourcePageCount;
    },
    totalRows: function () {
      return this.perPage * this.resourcePages;
    }
  },
  mounted: function () {
  }
};
</script>

<style lang="scss">
@import '~@/assets/scss/application.scss';
@import './table.scss';

table.resources-table {
  thead {
    font-size: 0.75em;
    white-space: nowrap;
    th {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.filenameLabel {
  white-space: nowrap;
  font-size: 0.75em;
  font-weight: $bold;
  color: #333333;
  padding-right: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filenameLabel p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.resourceRow {
  padding: 5px 0px;
  max-height: 40px;
  border-bottom: 10px solid white;
}

.status {
  min-width: 11em;
}

.actionButton {
  min-width: 20em;
}

.statusLabel {
  color: white;
  border-radius: 40px;
  min-width: 12em;
  padding: 5px;
  font-size: 0.625em;
  text-transform: capitalize;
  font-weight: $bold;
  text-align: center;
}

.type-source-dataAdded {
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 4px;
  color: grey;
  font-size: 0.6875em;
}

</style>
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';
@import '~@/assets/scss/checkbox.scss';
@import './table.scss';

label {
  margin-bottom: 0px;
}

.newStatus {
  background-color: blue;
}

.runningStatus {
  background-color: #aa4;
}

.failedStatus {
  background-color: #a44;
}

.unmatchedStatus {
  background-color: #888;
}

.invalidStatus {
  background-color: purple;
}

.runStatus {
  background-color: #7BA74D;
}

.archivedStatus {
  background-color: #777776;
}

.validLinkStatus {
  background-color: #DBD25A;
}

.invalidLinkStatus {
  background-color: #FF4E50;
}

.checkbox-container {
   margin-top: 5px;
   margin-bottom: 5px;
}
.center {
  display: flex;
  flex-direction: column;
}

.resourceAction {
  min-width: 120px;
  display: inline-block;
}

.verticalAlign {
  vertical-align: middle;
}

.viewResourceButton {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 5px;
  font-size: 0.65em;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  &:hover {
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.profileName {
  font-weight: bold;
}

.resourceOrganization {
  font-style: italic;
  color: #aaa;
}

</style>
<style lang="scss">
.resources-row.selectable .table-hover tbody tr:hover {
  background-color: #444;
  cursor: pointer;
  border-radius: 8px;
  td {
    color: white;
  }
}
</style>
