<template>
  <b-container id="resourceTable" fluid>
    <b-row>
      <b-col cols='12'>
        <label class="pageTitle">{{ title }}</label>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols='12'>
        <p class="instructions">
          The list of resources that are available for validation by Lintol.
          <strong>Note that any CKAN resources will be shown only after a text search.</strong>
        </p>
      </b-col>
    </b-row>
    <add-resource-block v-on:input="assignProfile" :assigningProfile="assigningProfile" v-on:newResourceAdded="newResourceAdded"></add-resource-block>
    <b-row>
      <b-col>
        <label class="subHeading">Your Resources</label>
      </b-col>
    </b-row>
    <!--<label>(36 Archived)</label>-->
    <b-row>
      <b-col cols="12" sm="10" md="12" lg="9">
        <b-row no-gutters class="filter-row">
          <b-col sm="12" cols="12" md="6" xl="3" class="pl-1 pr-1">
            <input ref="searchBox" id="searchValidations" type="text" v-on:input="debounceSearch($event.target.value)" class="searchBox" style='margin-bottom:3px;'/>
          </b-col>
          <b-col sm='12' cols='12' md='6' xl="1" class="pl-1 pr-1">
            <b-button id="clearFilters" class="filterButton" @click="clearFilters" variant="outline-primary">Reset</b-button>
          </b-col>
          <b-col sm='12' cols='12' md='6' xl="2" class="pl-1 pr-1">
            <select id="typeFilter" class="custom-select" v-model="selectedType" >
              <option disabled value="" >Filter by Type</option>
              <option :value="type.filetype" v-for="type in filterByTypeOptions" :key="type.filetype">{{ type.filetype }}</option>
            </select>
          </b-col>
          <b-col sm="12" cols="12" md="6" xl="2" class="pl-1 pr-1">
            <select id="organizationFilter" class="custom-select"  v-model="selectedOrganization" >
              <option disabled value="" >Filter by Organization</option>
              <option :value="desc.name" v-for="desc in filterByOrganizationOptions" :key="desc.name">{{ desc.title }}</option>
            </select>
          </b-col>
          <b-col sm='12' cols='12' md='6' xl="2" class="pl-1 pr-1">
            <b-button id="updateFilters" :class="{'filterButton': true, 'updateRequired': areFiltersDirty}" @click="updateFilters" variant="outline-primary">Update</b-button>
          </b-col>
          <!-- <b-col sm='12' cols='12' md='1' lg="2" >
            <input id="clearFilters" type="button" @click="clearFilters" value="X">
          </b-col> -->
        </b-row>
      </b-col>
      <b-col cols="12" sm="2" md="1"  lg="3">
        <div class="actionContainer" >
          <label id="numberOfSelectedResources" class="rightSeparator numberOfSelected">{{ selectedResources.length }} Selected </label>
          <b-dropdown id="resourceAction" text="Choose Function" variant="dark" size="sm" area-labelledby="numberOfSelectedResources" :disabled="noResourcesSelected">
            <b-dropdown-item  @click="resourceAction('runProfile')">Run Profile</b-dropdown-item>
            <!-- <b-dropdown-item  @click="resourceAction('archive')">Archive</b-dropdown-item> -->
            <b-dropdown-item  @click="resourceAction('delete')">Delete</b-dropdown-item>
          </b-dropdown>
        </div>
      </b-col>
    </b-row>
    <div :class="{'dirtyFilters': areFiltersDirty}">
      <b-row v-if="resources.length == 0 && $wait.is(WAITING_RESOURCES)">
        <b-col offset="4" cols="4">
        <b-spinner class="orangeSpinner mt-5"></b-spinner>
        </b-col>
      </b-row>
      <div v-else>
            <resource-row @selected="choseResource" :selectable="Boolean(assigningProfile)" :showOrganization="!selectedOrganization" :clearSelected=clearSelected @resourcesSelected="selectedResourcesChanged"/>
      </div>
      <b-modal ref="runProfileModal" title="Select Profile" @close=closeModal>
        <b-container>
          <b-row v-if="$wait.is(WAITING_RUN_PROFILE)">
            <b-col offset="4" cols="4">
            <b-spinner class="orangeSpinner mt-5"></b-spinner>
            </b-col>
          </b-row>
          <b-row v-else>
            <b-col cols="12" class="mt-3" v-if=runProfileSubmittedSuccessfully>
              <div class="alert alert-success" role="alert">
                Submitted Successfully
              </div>
            </b-col>
            <b-col cols="12" class="mt-3" v-else>
              <select v-model="selectedProfileId" class="custom-select" >
                <option disabled selected value="">[Choose Profile]</option>
                <option :value="profile.id" v-for="profile in profiles" :key="profile.id">{{ profile.name }}</option>
              </select>
              <p v-show="vErrors.has('profile')" class="warningText" >{{ vErrors.first('profile') }}</p>
            </b-col>
          </b-row>
        </b-container>
        <div slot="modal-footer" class="w-100">
          <div v-if="!$wait.is(WAITING_RUN_PROFILE)">
            <b-button v-if=runProfileSubmittedSuccessfully   class="dropshadowButton" data-dismiss="modal" v-on:click="closeModal">Close</b-button>
            <b-button v-else class="dropshadowButton" data-dismiss="modal" v-on:click="matchDataResourcesToProfile">Run Profile</b-button>
          </div>
        </div>
      </b-modal>
    </div>
  </b-container>
</template>

<script>
import {
  UPDATE_DATA_RESOURCES_FILTERS,
  UPDATE_DATA_RESOURCES_PAGE,
  LOAD_DATA_RESOURCES,
  SAVE_DATA_RESOURCE,
  DELETE_DATA_RESOURCE,
  STORE_SETTING_PROFILE_ID_FOR_DATA_RESOURCES,
  LOAD_PROFILES,
  LOAD_LOGGED_IN_USER,
  UPDATE_DATA_RESOURCES_SORT,
  UPDATE_DATA_RESOURCES_ORDER,
  LOAD_DATA_RESOURCE_FILTER_ORGANIZATION,
  LOAD_DATA_RESOURCE_FILTER_FILETYPE
} from '@/state/action-types';
import { WAITING_RESOURCES, WAITING_RUN_PROFILE } from '@/state/loading-types.js';
import ResourceRow from './ResourceRow';
import AddResourceBlock from './AddResourceBlock';
import { convertDate, convertToTimeStamp } from '@/components/common/date.js';
import { setInterval } from 'timers';

export default {
  name: 'ResourceTable',
  data () {
    return {
      title: 'Resources',
      filters: {},
      assigningProfile: null,
      selectedType: '',
      selectedSource: '',
      selectedOrganization: '',
      search: '',
      selectedResources: [],
      selectedProfileId: '',
      sortBy: '',
      ascDesc: 'asc',
      clearSelected: false,
      WAITING_RESOURCES: WAITING_RESOURCES,
      WAITING_RUN_PROFILE: WAITING_RUN_PROFILE,
      runProfileSubmittedSuccessfully: false,
      getDataInterval: {},
      debounceTimeout: null,
      debounceWait: 300
    };
  },
  methods: {
    updateFilters: function () {
      this.filters = this.pendingFilters;
    },
    choseResource: function (resource) {
      if (this.assigningProfile) {
        this.selectedProfileId = this.assigningProfile.id;
        this.selectedResources = [resource];
        this.$refs.runProfileModal.show();
        this.matchDataResourcesToProfile();
        this.assigningProfile = null;
      }
    },
    assignProfile: function (profile) {
      this.assigningProfile = profile;
    },
    debounceSearch: function (val) {
      if (this.debounceTimeout) {
        clearTimeout(this.debounceTimeout);
      }

      this.debounceTimeout = setTimeout(() => {
        this.search = val;
      }, this.debounceWait);
    },
    newResourceAdded: function () {
      this.loadDataResources();
    },
    sort: function (sortBy) {
      this.sortBy = sortBy;
      this.revertAscDesc();
    },
    clearAllSelections: function () {
      this.selectedResources = [];
      this.clearSelected = true;
      this.selectedProfileId = '';
    },
    resourceAction: function (e) {
      if (e === 'runProfile') {
        this.$refs.runProfileModal.show();
      } else if (e === 'archive') {
        // Disabling for now until a user wants a archive feature
        // and there is some where to show archived files.
        // this.archive();
      } else if (e === 'delete') {
        var confirmDelete = confirm('Please confirm you want to delete these resources!');
        this.delete(confirmDelete);
      } else {
        console.log('Not supported action');
      }
    },
    /** Run the profiles against the resources */
    matchDataResourcesToProfile () {
      this.$wait.start(WAITING_RUN_PROFILE);
      var resources = this.selectedResources;
      this.$store.dispatch(STORE_SETTING_PROFILE_ID_FOR_DATA_RESOURCES, {
        profileId: this.selectedProfileId,
        resources: resources
      }).then(() => {
        this.$wait.end(WAITING_RUN_PROFILE);
        this.runProfileSubmittedSuccessfully = true;
        this.loadDataResources(true);
        this.clearAllSelections();
      }).catch((error) => {
        this.$wait().end(WAITING_RUN_PROFILE);
        console.log('Unable to run profiles');
        console.log(error);
      });
    },
    archive: function () {
      var archivedResource = this.selectedResources[0];
      archivedResource.archived = '1';
      this.$store.dispatch(SAVE_DATA_RESOURCE, archivedResource).then(() => {
        this.loadDataResources(true);
        this.clearAllSelections();
      }).catch((error) => {
        console.log('Error archiving resource:' + error);
      });
    },
    delete: function (confirmDelete) {
      if (confirmDelete) {
        var deleteResource = this.selectedResources[0];
        this.$store.dispatch(DELETE_DATA_RESOURCE, deleteResource).then(() => {
          this.loadDataResources(true);
          this.clearAllSelections();
        }).catch((error) => {
          console.log('Error deleting resource:' + error);
        });
      }
    },
    selectedResourcesChanged: function (selectedResources) {
      this.selectedResources = selectedResources;
    },
    revertAscDesc: function () {
      if (this.ascDesc === 'asc') {
        this.ascDesc = 'desc';
      } else {
        this.ascDesc = 'asc';
      }
    },
    getResources: function (pageNum) {
      this.$store.dispatch(UPDATE_DATA_RESOURCES_PAGE, pageNum);
    },
    loadDataResources: function (showWaiting) {
      if (showWaiting) {
        this.$wait.start(WAITING_RESOURCES);
      }
      this.$store.dispatch(LOAD_DATA_RESOURCES, { reset: true, page: this.$store.state.resources.pageDataResources }).then(() => {
        if (showWaiting) {
          this.$wait.end(WAITING_RESOURCES);
        }
      }).catch((error) => {
        console.log('Unable to load resources');
        console.log(error);
      });
    },
    convertToTimeStamp: convertToTimeStamp,
    closeModal: function () {
      this.$refs.runProfileModal.hide();
      this.runProfileSubmittedSuccessfully = false;
    },
    clearFilters: function () {
      this.selectedType = '';
      this.selectedSource = '';
      this.selectedOrganization = '';
      this.search = '';
      this.$refs.searchBox.value = '';
      this.selectedResources = [];
      this.sortBy = '';
      this.ascDesc = 'asc';
      this.loadDataResources();
      this.updateFilters();
      this.filters['search'] = '';
      this.loadDataResources(true);
    }
  },
  computed: {
    profiles: function () {
      return this.$store.getters.profiles;
    },
    resources: function () {
      return this.$store.getters.dataResources;
    },
    resourcesTypeFilter: function () {
      return this.$store.getters.dataResourcesTypeFilter;
    },
    resourcesOrganizationFilter: function () {
      return this.$store.getters.dataResourcesOrganizationFilter;
    },
    loggedInUser: function () {
      return this.$store.state.users.loggedInUser;
    },
    areFiltersDirty: function () {
      return this.filters !== this.pendingFilters;
    },
    pendingFilters: function () {
      var filters = {};

      if (this.selectedSource) {
        filters['source'] = this.selectedSource;
      }

      if (this.selectedOrganization) {
        filters['organization'] = this.selectedOrganization;
      }

      if (this.selectedType) {
        filters['filetype'] = this.selectedType;
      }
      return filters;
    },
    filterByOrganizationOptions: function () {
      return this.$store.getters.resourceOrganizationFilters;
    },
    filterBySourceOptions: function () {
      if (this.loggedInUser && this.loggedInUser.driver) {
        return { '': '(any)', '_local': 'via Lintol', '_remote': this.loggedInUser.driver.toUpperCase() };
      }
      return { '': '(any)' };
    },
    filterByTypeOptions: function () {
      return this.$store.getters.fileTypeFilters;
    },
    noResourcesSelected: function () {
      return this.selectedResources.length === 0;
    }
  },
  filters: {
    convertDate: convertDate
  },
  mounted: function () {
    this.$store.dispatch(LOAD_LOGGED_IN_USER);
    this.loadDataResources(true);
    this.$store.dispatch(LOAD_PROFILES);
    this.$store.dispatch(LOAD_DATA_RESOURCE_FILTER_ORGANIZATION);
    this.$store.dispatch(LOAD_DATA_RESOURCE_FILTER_FILETYPE);
    this.getDataInterval = setInterval(this.loadDataResources, this.dataPollingInterval);
    this.filters = this.pendingFilters;
  },
  beforeDestroy: function () {
    clearInterval(this.getDataInterval);
  },
  watch: {
    ascDesc: function (ascDesc) {
      this.$store.dispatch(UPDATE_DATA_RESOURCES_ORDER, ascDesc);
    },
    sortBy: function (sortBy) {
      this.$store.dispatch(UPDATE_DATA_RESOURCES_SORT, sortBy);
    },
    search: function (search) {
      var filters = this.filters;
      if (this.search) {
        filters['search'] = this.search;
      }
      this.$store.dispatch(UPDATE_DATA_RESOURCES_FILTERS, filters).then(() => this.loadDataResources());
    },
    filters: function (filters) {
      if (this.search) {
        filters['search'] = this.search;
      }
      this.$store.dispatch(UPDATE_DATA_RESOURCES_FILTERS, filters).then(() => this.loadDataResources());
    }
  },
  components: {
    ResourceRow: ResourceRow,
    AddResourceBlock: AddResourceBlock
  }
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';
@import './table.scss';

.noResourcesCentered {
  text-align: center;
}

.blackDropDown {
  background-color: #333333;
  color: white;
  border: none;
  outline: none;
  font-size: 10px;
}

.arrowDown:after {
  content: '\2193';
  font-size: 12px;
  font-weight: $bold;
}

.arrowUp:after {
  content: '\2191';
  font-size: 12px;
  font-weight: $bold;
}

.actionContainer {
  display: inline-flex;
  flex-direction: row;
  border-radius: 4px;
  background-color: #343a40;
}

.numberOfSelected {
  font-size: 0.875em;
  color: white;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  > label {
    font-weight: $bold;
    font-size: 0.75em;
  }
}

.greySeparator {
  border-bottom: 1px solid #EAE5E5;
  margin: 15px 10px 25px 10px;
}

.rightSeparator {
   border-right: 1px solid white;
   margin: 5px;
   padding: 0px 10px;
}

.searchBox {
  width: 100%;
  max-height: 28px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 13px;
  padding-bottom: 3px;
  border-radius: 4px;
  background: url(../../assets/images/search.svg) no-repeat scroll 13px 13px;
  background-color: white;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border-color: #dedede;
  &::placeholder {
    color: #9B9B9B;
  }
}

.numberOfSelected {
  color: white;
  white-space: nowrap;
}

.modalTitle {
  font-weight: $bold;
}

.buttonFooter {
  box-pack:start;
  display: block;
}

select.custom-select{
  min-width: 100px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 3px;
}

.instructions {
  margin-bottom: 0px;
}

.resourceAction {
  max-height: 2em;
}

.filterButton {
  margin: 0px;
  margin-right: 5px;
  padding-bottom: 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 60%;
  background-color: white;
  color: #777;
  border-color: #777;
  width: 100%;
}

.dirtyFilters {
  opacity: 0.5;
}

.updateRequired {
  background: $orange;
  color: white;
}
</style>
