li.page-item {
  font-size: 80%;
  &.active a.page-link {
    background-color: $buttonColour;
    border-color: $buttonColour;
  }

  a.page-link {
    color: $buttonColour;
  }
}

.xsmallColumn {
  flex: 0.2;
}

.smallColumn {
  flex: 0.5;
}

.mediumColumn {
  flex: 1;
}

.largeColumn {
  flex: 1;
}

$blackCheckboxMinWidth: 50px;
$blackCheckboxMaxWidth: 60px;

$filenameMinWidth: 130px;
$filenameMaxWidth: 130px;
  .filename {
    min-width: $filenameMinWidth;
    width: $filenameMinWidth;
    max-width: $filenameMaxWidth;
  }

  .filenameHeader {
    min-width: $blackCheckboxMinWidth + $filenameMinWidth;
    width: $blackCheckboxMinWidth + $filenameMinWidth;
    max-width: $blackCheckboxMaxWidth +  $filenameMaxWidth;
  }

.selectedResource {
  min-width: $blackCheckboxMinWidth;
  width: $blackCheckboxMinWidth;
  max-width: $blackCheckboxMaxWidth;
}

.resourceNameValue {
  min-width: 80px;
  width: 80px;
  max-width: 120px;
}

$ownerMinWidth: 120px;
$statusMinWidth: 80px;
$actionMinWidth: 150px;

$ownerMaxWidth: 200px;
$statusMaxWidth: 80px;
$actionMaxWidth: 150px;
  $fileTypeMinWidth: 80px;
  $sourceMinWidth: 70px;
  $dateAddedMinWidth: 95px;
  
  $fileTypeMaxWidth: 80px;
  $sourceMaxWidth: 70px;
  $dateAddedMaxWidth: 95px;
  
  .fileType {
    min-width: $fileTypeMinWidth;
    width: $fileTypeMinWidth;
    max-width:$fileTypeMaxWidth; 
    margin-left: 10px;
  }
  
  .source {
    min-width: $sourceMinWidth;
    width: $sourceMinWidth;
    max-width: $sourceMaxWidth;
  }
  
  .dateAdded {
    min-width: $dateAddedMinWidth;
    width: $dateAddedMinWidth;
    max-width: $dateAddedMaxWidth;
  }

.owner {
  min-width: $ownerMinWidth;
  width: $ownerMinWidth;
  max-width: $ownerMaxWidth;
  margin-left: 10px;
}

.status {
  min-width: $statusMinWidth;
  width: $statusMinWidth;
  max-width: $statusMaxWidth;
}

.actionButton {
  min-width: $actionMinWidth;
  width: $actionMinWidth;
  max-width: $actionMaxWidth;
}

.owner-status-action {
  min-width: $ownerMinWidth + $statusMinWidth + $actionMinWidth;
  width: $ownerMinWidth + $statusMinWidth + $actionMinWidth;
  max-width: $ownerMaxWidth + $statusMaxWidth + $actionMaxWidth;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
$filenameMinWidth: 110px;
$filenameMaxWidth: 110px;
  .filename {
    min-width: $filenameMinWidth;
    width: $filenameMinWidth;
    max-width: $filenameMaxWidth;
  }

  .filenameHeader {
    min-width: $blackCheckboxMinWidth + $filenameMinWidth;
    width: $blackCheckboxMinWidth + $filenameMinWidth;
    max-width: $blackCheckboxMaxWidth +  $filenameMaxWidth;
  }
  $fileTypeMinWidth: 80px;
  $sourceMinWidth: 70px;
  $dateAddedMinWidth: 95px;
  
  $fileTypeMaxWidth: 80px;
  $sourceMaxWidth: 70px;
  $dateAddedMaxWidth: 95px;
  
  .fileType {
    min-width: $fileTypeMinWidth;
    width: $fileTypeMinWidth;
    max-width:$fileTypeMaxWidth; 
    margin-left: 10px;
  }
  
  .source {
    min-width: $sourceMinWidth;
    width: $sourceMinWidth;
    max-width: $sourceMaxWidth;
  }
  
  .dateAdded {
    min-width: $dateAddedMinWidth;
    width: $dateAddedMinWidth;
    max-width: $dateAddedMaxWidth;
  }
  
  .type-source-dataAdded {
    min-width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    max-width: $fileTypeMaxWidth + $sourceMaxWidth + $dateAddedMaxWidth;
    > div label {
      text-transform: uppercase;
      margin-top: 4px;
      color: grey;
      font-size: 0.6875em;
    }
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
$filenameMinWidth: 200px;
$filenameMaxWidth: 200px;
  .filename {
    min-width: $filenameMinWidth;
    width: $filenameMinWidth;
    max-width: $filenameMaxWidth;
  }

  .filenameHeader {
    min-width: $blackCheckboxMinWidth + $filenameMinWidth;
    width: $blackCheckboxMinWidth + $filenameMinWidth;
    max-width: $blackCheckboxMaxWidth +  $filenameMaxWidth;
  }
  $fileTypeMinWidth: 80px;
  $sourceMinWidth: 100px;
  $dateAddedMinWidth: 100px;
  
  $fileTypeMaxWidth: 80px;
  $sourceMaxWidth: 100px;
  $dateAddedMaxWidth: 120px;
  
  .fileType {
    min-width: $fileTypeMinWidth;
    width: $fileTypeMinWidth;
    max-width:$fileTypeMaxWidth; 
    margin-left: 10px;
  }
  
  .source {
    min-width: $sourceMinWidth;
    width: $sourceMinWidth;
    max-width: $sourceMaxWidth;
  }
  
  .dateAdded {
    min-width: $dateAddedMinWidth;
    width: $dateAddedMinWidth;
    max-width: $dateAddedMaxWidth;
  }
  
  .type-source-dataAdded {
    min-width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    max-width: $fileTypeMaxWidth + $sourceMaxWidth + $dateAddedMaxWidth;
    > div label {
      text-transform: uppercase;
      margin-top: 4px;
      color: grey;
      font-size: 0.6875em;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-height: 1024px) {
$filenameMinWidth: 200px;
$filenameMaxWidth: 200px;
  .filename {
    min-width: $filenameMinWidth;
    width: $filenameMinWidth;
    max-width: $filenameMaxWidth;
  }

  .filenameHeader {
    min-width: $blackCheckboxMinWidth + $filenameMinWidth;
    width: $blackCheckboxMinWidth + $filenameMinWidth;
    max-width: $blackCheckboxMaxWidth +  $filenameMaxWidth;
  }
  $fileTypeMinWidth: 90px;
  $sourceMinWidth: 120px;
  $dateAddedMinWidth: 120px;
  
  $fileTypeMaxWidth: 100px;
  $sourceMaxWidth: 140px;
  $dateAddedMaxWidth: 150px;
  
  .fileType {
    min-width: $fileTypeMinWidth;
    width: $fileTypeMinWidth;
    max-width:$fileTypeMaxWidth; 
    margin-left: 10px;
  }
  
  .source {
    min-width: $sourceMinWidth;
    width: $sourceMinWidth;
    max-width: $sourceMaxWidth;
  }
  
  .dateAdded {
    min-width: $dateAddedMinWidth;
    width: $dateAddedMinWidth;
    max-width: $dateAddedMaxWidth;
  }
  
  .type-source-dataAdded {
    min-width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
    max-width: $fileTypeMaxWidth + $sourceMaxWidth + $dateAddedMaxWidth;
    > div label {
      text-transform: uppercase;
      margin-top: 4px;
      color: grey;
      font-size: 0.6875em;
    }
  }
}
