.xsmallColumn {
  flex: 0.2;
}

.smallColumn {
  flex: 0.5;
}

.mediumColumn {
  flex: 1;
}

.largeColumn {
  flex: 1;
}

$blackCheckboxMinWidth: 50px;
$blackCheckboxMaxWidth: 60px;

.selectedResource {
  min-width: $blackCheckboxMinWidth;
  max-width: $blackCheckboxMaxWidth;
}

$filenameMinWidth: 250px;
$filenameMaxWidth: 300px;
.filename {
  min-width: $filenameMinWidth;
  max-width: $filenameMaxWidth;
}

.filenameHeader {
  min-width: $blackCheckboxMinWidth + $filenameMinWidth;
  max-width: $blackCheckboxMaxWidth +  $filenameMaxWidth;
}

.resourceNameValue {
  min-width: 100px;
  max-width: 200px;
}

.owner {
  min-width: 100px;
  max-width: 200px;
  margin: auto;
}
.status {
  min-width: 50px;
  max-width: 150px;
  margin: auto;
}

.actionButton {
  min-width: 100px;
  max-width: 150px;
  margin: auto;
}

$fileTypeMinWidth: 90px;
$sourceMinWidth: 100px;
$dateAddedMinWidth: 50px;

$fileTypeMaxWidth: 100px;
$sourceMaxWidth: 140px;
$dateAddedMaxWidth: 150px;

.fileType {
  min-width: $fileTypeMinWidth;
  max-width:$fileTypeMaxWidth; 
  margin-left: 10px;
}

.source {
  min-width: $sourceMinWidth;
  max-width: $sourceMaxWidth;
}

.dateAdded {
  min-width: $dateAddedMinWidth;
  max-width: $dateAddedMaxWidth;
}

.type-source-dataAdded {
  min-width: $fileTypeMinWidth + $sourceMinWidth + $dateAddedMinWidth;
  max-width: $fileTypeMaxWidth + $sourceMaxWidth + $dateAddedMaxWidth;
  > div p {
    text-transform: uppercase;
    margin-top: 4px;
    color: grey;
    font-size: 11px;
  }
}
