<template>
   <div class="annotation-box">
     <div class="annotation-top annotation-top-up"></div>
     <div class="annotation-top annotation-top-down"></div>
     <div class="annotation-middle">
       <span v-for="(segment, ix) in segments" :key="ix">
         <span v-if="segment.annotated" @click="setNote(segment.ann)" :class="segment.ann.tags().reduce((acc, tag) => (acc['annotation-tag-' + tag] = true, acc), {'annotation': true})">
           {{ segment.text }}
         </span>
         <span v-else @click="clearNote()">{{ segment.text }}</span>
       </span>
       <div v-if="ann" class="annotation-note">{{ ann.note() }}</div>
     </div>
     <div class="annotation-bottom annotation-bottom-up"></div>
     <div class="annotation-bottom annotation-bottom-down"></div>
   </div>
</template>

<script>
class Annotation {
  constructor (a) {
    this._ann = a;
  }

  tags () {
    return this._ann.tags;
  }

  start () {
    return this._ann.ranges[0].startOffset;
  }

  end () {
    return this._ann.ranges[0].endOffset;
  }

  note () {
    return this._ann.text;
  }
};

export default {
  name: 'AnnotatedTextAspect',
  props: {
    aspect: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      ann: null
    };
  },
  components: {
  },
  methods: {
    clearNote () {
      this.ann = null;
    },
    setNote (ann) {
      this.ann = ann;
      console.log(ann);
    }
  },
  computed: {
    annotations () {
      return this.aspect.annotations.map(ann => new Annotation(ann)).sort((a, b) => a.start() - b.start());
    },
    segments () {
      const anns = this.annotations;
      let lastEnd = 0;
      const text = this.aspect.plaintext.trim();
      const segments = [];
      for (var ix = 0; ix < anns.length; ix += 1) {
        const ann = anns[ix];
        const nextStart = ix < anns.length - 1 ? anns[ix + 1].start() : text.length;
        const end = nextStart < ann.end() ? nextStart : ann.end();
        const start = ann.start();

        segments.push({
          annotated: false,
          text: text.substr(lastEnd, start - lastEnd)
        });
        segments.push({
          annotated: true,
          text: text.substr(start, end - start),
          ann: ann
        });
        lastEnd = end;
      }
      segments.push({
        annotated: false,
        text: text.substr(lastEnd, text.length - lastEnd)
      });
      return segments;
    }
  },
  mounted: function () {
    console.log(this.aspect, 'aspect');
  }
};
</script>

<style lang='scss' scoped>
@import '~@/assets/scss/application.scss';
.annotation-box {
  position: relative;
  content: " ";
}
.annotation-top {
  background: radial-gradient(ellipse, transparent, transparent 7px, orange 7px, grey 10px, transparent 11px);
  background-size: 40px 10px;
  height: 5px;
  width: 100%;
  position: relative;
  top: 5px;
}
.annotation-top-up {
  border-left: thin white solid;
}
.annotation-top-down {
  background-position: 20px -5px;
  border-right: thin orange solid;
}
.annotation-middle {
  box-shadow: -3px 10px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: thin grey solid;
  border-right: thin orange solid;
}
.annotation-bottom {
  background: radial-gradient(ellipse, transparent, transparent 4px, #eee 4px, #aaa 10px, transparent 11px);
  background-size: 80px 20px;
  height: 10px;
  width: 100%;
  position: relative;
  top: -10px;
}
.annotation-bottom-up {
  border-left: thin grey solid;
}
.annotation-bottom-down {
  background-position: 20px -10px;
}
.annotation {
  padding: 2px;
  border-radius: 3px;
  border-bottom: 5px solid black;
  transition: background-color 0.5s linear;
}
.annotation-note {
  z-index: 1;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 0px;
  font-weight: bold;
  width: 90%;
  background-color: rgba(245, 235, 215, 1.0);;
  padding: 2%;
  border-bottom: thick #aaa solid;
  box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
.annotation-tag-WARNING {
border-color: #fca;
}
.annotation-tag-WARNING:hover {
background: #fca;
}
.annotation-tag-INFO {
border-color: #aaf;
}
.annotation-tag-INFO:hover {
background: #aaf;
}
</style>
