<template>
   <div id="processorReportView processorReportView">
       <div id="reportResultDetails" class="infoBar" v-if="report">
          <div>
            <label class="issueCount">{{ report.errors + report.warnings + report.passes }} Issues</label>
          </div>
              <div class="ragBar">
                <div>
                   <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                      <circle class="ragError" cx="7" cy="7" r="7"/>
                    </svg>
                    <label id="errors" style="vertical-align: top;" >{{ report.errors }}</label>
                 </div>
                 <div>
                 <svg height="14" width="14">
                    <polygon class="ragWarning" points="0,14 7,0 14,14"/>
                 </svg>
                 <label id="warnings" style="vertical-align: top;">{{ report.warnings }}</label>
                 </div>
                 <div>
                 <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                    <rect class="ragPass" width="14" height="14" />
                 </svg>
                 <label id="passes" style="vertical-align: top;">{{ report.passes }}</label>
               </div>
            </div>
          <div>
            <b-button id="searchGrouping" :pressed.sync="detailed" variant="outline-primary">{{ detailed ? 'Clean View' : 'Detailed View' }}</b-button>
            <input id="searchValidations" type="text" class="searchBox" v-model="search"/>
            <b-button id="searchGrouping" :pressed.sync="byLocation" variant="outline-primary">{{ byLocation ? 'Sort by Type' : 'Sort by Location' }}</b-button>
            <select id="userFilter" class="custom-select" v-model="filteredType" >
              <option disabled value="" >Filter by Type</option>
              <option v-for="type in filterByTypeOptions" v-bind:key="type">{{ type }}</option>
            </select>
            <select id="userFilter" class="custom-select" v-model="filteredProcessor" >
              <option disabled value="" >Filter by Processor</option>
              <option v-for="processor in filterByProcessorOptions" v-bind:key="processor">{{ processor }}</option>
            </select>
          </div>
       </div>
       <b-container fluid>
         <b-row :key="index" v-for="(reportItem, index) in filteredReportItems">
           <b-col>
             <div class="reportItemMoreExist" v-if="reportItem.above">Only the first {{ reportItem.above[1] }} of this type of issue are included{{ detailed ? ' (' + reportItem.item.processor + '&rarr;' + reportItem.item.code + ')' : '' }}. There are {{ reportItem.above[2] }} in total...</div>
             <report-list-item :active="activeIndex === index" @open-issue="activeIndex = index" :detailed="detailed" :reportId="reportId" :content="report.content" :reportItem="reportItem.item"></report-list-item>
             <div v-on:click="expandGroup(reportItem.group)" class="reportItemShowMore" v-if="reportItem.below">and {{ reportItem.below }} more... [show]</div>
           </b-col>
         </b-row>
         <b-row v-if="reportItems.length === 0">
           <b-col>
             <p>There are no items for this report</p>
           </b-col>
         </b-row>
       </b-container>
  </div>
</template>

<script>
import ReportListItem from './ReportListItem';

export default {
  name: 'ReportView',
  props: {
    reportId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      activeIndex: null,
      detailed: false,
      jsonViewData: null,
      byLocation: true,
      numberWhenCollapsed: 3,
      filteredType: '',
      filteredProcessor: '',
      processorResults: [],
      expanded: [],
      search: ''
    };
  },
  methods: {
    getGroup: function (item) {
      var group = item.type + '|' + item.processor + '|' + item.code;
      if (this.byLocation) {
        var location = this.getRow(item);
        if (location) {
          group = this.getRow(item) + '|' + group;
        } else {
          group = '|' + group;
        }
      }
      return group;
    },
    getRow: function (item) {
      if (item.item && item.item.entity && item.item.entity.location && item.item.entity.location.row) {
        return item.item.entity.location.row;
      }
      return false;
    },
    expandGroup (group) {
      this.expanded.push(group);
    }
  },
  components: {
    ReportListItem: ReportListItem
  },
  computed: {
    report: function () {
      var report = this.$store.state.reports.currentReport;
      console.debug('One report', report);
      return report;
    },
    filterByProcessorOptions: function () {
      var result = [];
      this.reportItems.forEach((reportItem) => {
        if (result.indexOf(reportItem.processor) === -1) {
          result.push(reportItem.processor);
        }
      });
      console.debug('Filtered by Processor Options:', result);
      return result;
    },
    reportContent: function () {
      var content;
      if (this.report) {
        console.debug('Report Content:', this.report.content);
        content = JSON.parse(this.report.content);
      }
      return content;
    },
    reportSkipped: function () {
      var skipped = {};
      if (this.reportContent) {
        skipped = this.reportContent['issues-skipped'];
        if (skipped === undefined) {
          skipped = {};
        }
      }
      return skipped;
    },
    reportItems: function () {
      var reportItems = [];
      if (this.reportContent) {
        var content = this.reportContent;
        reportItems = [];

        if (content.tables && content.tables.length > 0) {
          content.tables.forEach(function (set) {
            if (set.errors) {
              reportItems = reportItems.concat(
                set.errors.map((item) => { item.type = 'error'; return item; })
              );
            }
            if (set.warnings) {
              reportItems = reportItems.concat(
                set.warnings.map((item) => { item.type = 'warning'; return item; })
              );
            }
            if (set.informations) {
              reportItems = reportItems.concat(
                set.informations.map((item) => { item.type = 'information'; return item; })
              );
            }
          });
        }
      }
      return reportItems;
    },
    filterByTypeOptions: function () {
      var result = [];
      this.reportItems.forEach((reportItem) => {
        if (result.indexOf(reportItem.code) === -1) {
          result.push(reportItem.code);
        }
      });
      console.debug('Filter by Type Result:', result);
      return result;
    },
    filteredReportItems: function () {
      const levelOrder = ['error', 'warning', 'information'];
      var result = this.reportItems.slice();

      if (this.filteredType !== '') {
        result = result.filter((reportItem) => {
          return reportItem.code === this.filteredType;
        });
      }
      if (this.filteredProcessor !== '') {
        result = result.filter((reportItem) => {
          return reportItem.processor === this.filteredProcessor;
        });
      }
      try {
        var re = new RegExp(this.search);
        result = result.filter((reportItem) => {
          return re.exec(reportItem.message);
        });
      } catch (e) {
      }

      result.sort((a, b) => {
        if (this.byLocation) {
          var locA = this.getRow(a);
          var locB = this.getRow(b);
          if (!locA && !locB) {
            return 0;
          }
          if (!locA) {
            return -1;
          }
          if (!locB) {
            return 1;
          }
          if (locA > locB) {
            return 1;
          }
          if (locA < locB) {
            return -1;
          }
        }
        var levelA = levelOrder.indexOf(a.type);
        var levelB = levelOrder.indexOf(b.type);
        if (levelA > levelB) {
          return 1;
        }
        if (levelA < levelB) {
          return -1;
        }
        if (a.processor > b.processor) {
          return 1;
        }
        if (a.processor < b.processor) {
          return -1;
        }
        if (a.code > b.code) {
          return 1;
        }
        if (a.code < b.code) {
          return -1;
        }
        return 0;
      });

      const collapsedNumber = this.numberWhenCollapsed;
      result = result.map((item) => { return { group: this.getGroup(item), item: item }; });
      var groups = result.reduce((groups, item) => {
        var group = item.group;
        if (groups[group] === undefined) {
          groups[group] = { found: -collapsedNumber, total: 0 };
        }
        groups[group].total += 1;
        return groups;
      }, {});

      var skipped = [];
      result = result.filter((item) => {
        var group = item.group;
        if (this.expanded.indexOf(group) !== -1) {
          return true;
        }
        if (!groups[group].found <= 0) {
          groups[group].found += 1;
          return true;
        }
        return false;
      }).map((item) => {
        var group = item.group;
        var below = false;
        var above = false;
        if (this.expanded.indexOf(group) !== -1) {
          below = false;
        } else {
          groups[group].found -= 1;
          if (groups[group].found === -collapsedNumber) {
            below = Math.max(0, groups[group].total - collapsedNumber);
          }
        }

        const issueCode = item.item.processor + '|' + item.item.code;

        if (issueCode in this.reportSkipped && skipped.indexOf(issueCode) === -1) {
          above = this.reportSkipped[issueCode];
          skipped.push(issueCode);
        }

        return { group: group, item: item.item, below: below, above: above };
      });

      return result;
    }
  },
  mounted: function () {
    console.debug('Loading Report');
  },
  watch: {
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss' scoped>
@import '~@/assets/scss/application.scss';
@import '~@/assets/scss/reports.scss';

.ragBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0.5;
}

.ragBar svg {
  margin-right: 10px;
}

.issueCount {
  font-size: 1em;
  color: #777776;
  padding-right: 10px;
  vertical-align: middle;
}

.infoBar {
  margin: 30px 0px 41px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-select {
  margin: 2px;
  margin-bottom: 3px;
}
#searchGrouping {
  margin: 2px;
  margin-bottom: 3px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 60%;
  background-color: white;
  color: #777;
  border-color: #777;
}

.searchBox {
  margin: 2px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background: url(~@/assets/images/search.svg);
  background-repeat: no-repeat;
  background-size:0.875em 0.875em;
  background-color: white;
  background-position: 95% 50%;
  border-color: #777;
  &::placeholder {
    color: #9B9B9B;
    font-size: 0.8125em;
  }
}

#reportResultDetails {
  box-shadow: 0px 6px 8px -3px #888;
  padding: 6px;
}

.reportItemMoreExist {
  font-size: 70%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 0 0 5px 5px;
  background: #f8f8f8;
  padding: 3px;
  padding-left: 12px;
  margin-top: 30px;
  box-shadow: 3px 3px 1px 1px #eee;
}

.reportItemShowMore {
  font-size: 70%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 0 0 5px 5px;
  background: #f8f8f8;
  padding: 3px;
  padding-left: 12px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 1px 1px #eee;
}
</style>
