<template>
  <b-container class="rowBorders" :class="{active: active}" fluid>
    <b-row no-gutters>
      <b-col cols=1>
        <div class="ragPosition">
          <svg v-if="reportItem.type == 'error'" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
             <circle class="ragError" cx="10" cy="10" r="10"/>
          </svg>
          <svg v-if="reportItem.type == 'warning'" height="20" width="20">
            <polygon class="ragWarning" points="0,20 10,0 20,20"/>
          </svg>
          <svg v-if="reportItem.type == 'information'" width="20" height="20" >
            <rect class="ragPass" width="20" height="20" fill="lime"/>
          </svg>
        </div>
      </b-col>
      <b-col>
        <label v-if="detailed" class="processorName">{{ reportItem.processor }}</label>
      </b-col>
      <b-col>
        <label v-if="detailed" class="issueType">{{ reportItem.code }}</label>
      </b-col>
      <b-col>
        <label class="issueRow" v-if="getRow(reportItem)">Row {{ getRow(reportItem) }}</label>
      </b-col>
      <b-col cols=8>
        <label class="issueDescription">{{ reportItem.message }}</label>
      </b-col>
      <b-col cols=3>
        <label @click="$emit('open-issue')" class="moreDetails">More Details [+]</label>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col cols=12>
        <component class='reportComponent' :is="activeWidget" v-if="active" :report-id='reportId' :report-item='reportItem' :report-meta-data='content'/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import MapDetails from '@/components/reports/reportview/map/MapDetails';
import TabularDetails from '@/components/reports/reportview/tabular/TabularDetails';
import DocumentDetails from '@/components/reports/reportview/document/DocumentDetails';
import ExceptionDetails from '@/components/reports/reportview/exception/ExceptionDetails';

export default {
  name: 'ValidationErrors',
  props: {
    detailed: {
      type: Boolean,
      required: true
    },
    reportItem: {
      type: Object,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    reportId: {
      type: String,
      required: true
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
    };
  },
  methods: {
    getRow: function (item) {
      if (item.item && item.item.entity && item.item.entity.location && item.item.entity.location.row) {
        return item.item.entity.location.row;
      }
      return false;
    },
    openIssue: function () {
      /* var preset = this.content.preset; */
      if (this.activePreset === 'geojson') {
        this.activeWidget = MapDetails;
      } else if (this.activePreset === 'exception') {
        this.activeWidget = ExceptionDetails;
      } else if (this.activePreset === 'document') {
        this.activeWidget = DocumentDetails;
      } else {
        this.activeWidget = TabularDetails;
      }
    }
  },
  components: {
    activeWidget: ExceptionDetails
  },
  computed: {
    activePreset () {
      var preset = JSON.parse(this.content).preset;
      return preset;
    }
  },
  watch: {
    active (active) {
      if (active) {
        this.openIssue();
      }
    },
    activePreset () {
      if (this.active) {
        this.openIssue();
      }
    }
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '~@/assets/scss/application.scss';
@import '~@/assets/scss/reports.scss';

.rowBorders {
  justify-content: space-between;
  border: solid 2px black;
  border-radius: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 40px;
  margin-top: 9px;
  padding: 13px 10px;
  font-size: 12px;
}

.rowBorders.active {
  border-color: black;
  border-left: none;
  border-right: none;
}

.processorName {
  font-weight: $bold;
  flex: 0.5;
  margin-right: 10px;
}

.issueType {
  color: #777776;
  font-weight: $bold;
  flex: 0.5;
  margin-right: 10px;
}

.issueDescription {
  color: #777776;
  flex: 2;
}

.issueRow {
  color: #999998;
  flex: 0.5;
}

.moreDetails {
  flex: 0.5;
  cursor: pointer;
}

.ragPosition {
  flex: 0.1;
  margin-right: 5px;
  margin-top: 2px;
  margin-left: 5px;
}

.reportComponent {
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>
