<template>
   <div id='reportView' v-if='report'>
    <router-link id="reports" :to="{name: 'reportTable' }" class="navigateToReports"> <img src="~@/assets/images/back-to-left-arrow.svg"/> Back to Reports</router-link>
    <b-container fluid class="reportRow" v-if="report">
      <b-row>
        <b-col cols="6" class="reportMainColumn" sm="10" lg="6">
          <label class="pageTitle">{{ report.name }}</label>
          <p class='instructions' v-if="dataResource">
          This report was created from Data Resource {{ dataResource.filename }} in {{ dataResource.packageName }}
          </p>
          <p class='instructions' v-if="profile">
          This report is the output of Profile {{ profile.name }} :
          </p>
        </b-col>
        <b-col cols="2" class="reportColumn" lg="1">
          <p><label class="ranOn columnHeader">Ran On</label></p>
          <p><label v-if="report.createdAt">{{ convertDateTime(report.createdAt) }}</label></p>
        </b-col>
        <b-col cols="3" class="reportColumn" sm="10" lg="3">
          <p><label class="ranOn columnHeader">Source</label></p>
          <div v-if="source.organization">
            <p>{{ source.organization.title }}</p>
          </div>
          <p><label v-if="source.lintolSource" class="lintolSource">via {{ source.lintolSource }}</label></p>
        </b-col>
        <!--
        <div class="reportColumn">
          <label class="qualityScore" >{{ report.qualityScore }}</label>
          <label>Quality Score</label>
        </div>
        -->
        <b-col cols="2" class="reportToolbar" lg="2">
                <b-button-toolbar class="float-right" key-nav aria-label="Toolbar for Report Management">
                  <b-button-group>
                    <b-dropdown variant="outline-primary" right>
                      <template v-slot:button-content>
                        &#x1F517;
                      </template>
                      <template>
                        <b-dropdown-item v-if="content && content.preset == 'tabular' && featureExportCsv" :href='"/export/reports/" + report.id + "/csv"' target="_blank">Export Report</b-dropdown-item>
                        <b-dropdown-item v-b-toggle.artifact-sidebar>View Artifacts (CSV, etc.)</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                      </template>
                      <template v-if="dataResource">
                        <b-dropdown-item disabled>Resource Links</b-dropdown-item>
                        <b-dropdown-item target="_blank" v-if="dataResource.url" :href="dataResource.url">Original Resource</b-dropdown-item>
                        <b-dropdown-item target="_blank" v-if="dataResource.providerResourceURI" :href="dataResource.providerResourceURI">Stored Resource</b-dropdown-item>
                        <b-dropdown-item target="_blank" v-if="dataResource.providerPackageURI" :href="dataResource.providerPackageURI">Stored Package</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'reportTable', params: { entity: 'resource', id: dataResource.id } }">Other reports for this Resource</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                      </template>
                      <template v-if="profile">
                        <b-dropdown-item disabled>Profile Links</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'editProfile', params: { profileId: profile.id, actionType: 'Edit' } }">Edit Profile</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'reportTable', params: { entity: 'profile', id: profile.id } }">Other reports for this Profile</b-dropdown-item>
                      </template>
                    </b-dropdown>
                    <b-button tooltip="Re-run Report" v-if="reportHasRerun" disabled class="reportDone">&#x2714;</b-button>
                    <b-button tooltip="Re-run Report" v-else class="rerunReport" v-on:click="rerunReport()">&#x21ba;</b-button>
                    <b-button tooltip="Show Artifact Sidebar" v-b-toggle.artifact-sidebar variant="outline-primary"><b-icon-file-richtext/></b-button>
                    <b-button tooltip="Show Technical Toolbar" :pressed.sync="toolbox" variant="outline-primary">&#x2699;</b-button>
                  </b-button-group>
                </b-button-toolbar>
        </b-col>
      </b-row>
    </b-container>
    <b-sidebar title="Artifacts" right id="artifact-sidebar" backdrop>
      <b-container>
        <div v-for="(group, ix) in groupedArtifacts" :key="ix">
          <b-row>
            <b-col>
              <h4>{{ group[0].section }}</h4>
            </b-col>
          </b-row>
          <b-row v-for="(artifact, ixa) in group" :key="ixa">
            <b-col class="artifact">
              <b-button v-if="artifact.tag in existingArtifacts" variant="outline-success" @click="getArtifact(artifact)">
                <b-icon :icon="artifact.icon" /><br/>
                {{ '*' + artifact.title }}
              </b-button>
              <b-button v-else variant="outline-primary" @click="rerunReportForArtifact(artifact.tag)">
                <b-icon :icon="artifact.icon" /><br/>
                {{ artifact.title }}
              </b-button>
            </b-col>
          </b-row>
        </div>
      </b-container>
    </b-sidebar>
    <router-view></router-view>
      <b-navbar type="dark" id="reportFooterNav" class="footerNav" v-if="toolbox">
        <b-navbar-brand><b-button @click="toolbox = false">&#x2699;</b-button></b-navbar-brand>
        <b-navbar-toggle target="reportFooterNavCollapse"></b-navbar-toggle>
        <b-collapse id="reportFooterNavCollapse" is-nav>
          <b-navbar-nav>
            <b-nav-item-dropdown text="Inspect" dropup>
              <b-dropdown-item disabled>JSON</b-dropdown-item>
              <b-dropdown-item @click="setJsonViewer('Report Content', content)" href="#">Report</b-dropdown-item>
              <b-dropdown-item @click="setJsonViewer('Report Record', report)" href="#">Report Record</b-dropdown-item>
              <b-dropdown-item @click="setJsonViewer('Run', run)" href="#">Run</b-dropdown-item>
              <b-dropdown-item @click="setJsonViewer('Profile', profile)" href="#">Profile</b-dropdown-item>
              <b-dropdown-item @click="setJsonViewer('Data Resource', dataResource)" href="#">Resource</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
          <b-navbar-nav>
            <b-nav-item-dropdown text="Actions" dropup>
              <b-dropdown-item @click="softDelete()" href="#">Soft Delete</b-dropdown-item>
              <b-dropdown-item @click="rerunReport(['report:csv'])" href="#">Re-run for CSV</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto footerNavInfo">
            <b-nav-text v-if="run && run.settings && run.settings.allMetadataOnly">METADATA-ONLY RUN</b-nav-text>
            <b-nav-text v-if="dataResource && dataResource.size">Resource Size: {{ dataResource.size }}</b-nav-text>
            <b-nav-text v-if="dataResource && dataResource.mimetype">MIME: {{ dataResource.mimetype }}</b-nav-text>
            <b-nav-text v-if="dataResource && dataResource.filetype">Filetype: {{ dataResource.filetype }}</b-nav-text>
          </b-navbar-nav>

        </b-collapse>
      </b-navbar>
      <b-modal id="reportModalJsonViewer" size="xl" scrollable title="Developer Mode Viewer">
        <h3>{{ jsonViewData ? jsonViewData.title : "(no data)" }}</h3>
        <json-viewer v-if="jsonViewData" :value="jsonViewData.json" :expand-depth=1 copyable boxed></json-viewer>
      </b-modal>
      <b-modal id="reportModalArtifactViewer" title="Artifact Download">
        <template v-if="artifactView">
          <p>The following processors have outputted the {{ artifactView.section }} {{ artifactView.title }} artifact:</p>

          <b-container>
            <b-row v-for="(link, processor) in existingArtifacts[artifactView.tag]" :key="processor">
              <b-col class="artifactProcessor"><p>{{ processor }}</p></b-col>
              <b-col><b-button @click="getLinkForArtifact(processor, artifactView.tag)">Retrieve</b-button></b-col>
            </b-row>
          </b-container>
        </template>
      </b-modal>
  </div>
</template>

<script>
import { convertDate, convertDateTime } from '@/components/common/date.js';
import { BIconFileRichtext, BIcon, BIconFileEarmarkRuled } from 'bootstrap-vue';
import JsonViewer from 'vue-json-viewer';
import {
  RERUN_REPORT,
  LOAD_DATA_RESOURCE,
  LOAD_REPORT,
  DELETE_REPORT,
  LOAD_PROFILE
} from '@/state/action-types';

export default {
  name: 'ReportView',
  data () {
    return {
      reportHasRerun: false,
      jsonViewData: null,
      toolbox: false,
      artifactView: null,
      artifactsAvailable: [
        {
          tag: 'report:csv',
          icon: 'file-earmark-ruled',
          title: 'CSV',
          section: 'Report'
        }
      ]
    };
  },
  props: {
    reportId: {
      type: String,
      required: true
    }
  },
  components: {
    /* eslint-disable vue/no-unused-components */
    BIconFileRichtext: BIconFileRichtext,
    BIcon: BIcon,
    BIconFileEarmarkRuled,
    JsonViewer: JsonViewer
  },
  mounted () {
    this.$store.dispatch(LOAD_REPORT, this.reportId);
  },
  methods: {
    getLinkForArtifact: function (processor, tag) {
      window.open('/export/reports/' + this.reportId + '/artifact?tag=' + tag + '&processor=' + processor, '_blank');
    },
    softDelete: function () {
      var router = this.$router;
      this.$store.dispatch(DELETE_REPORT, this.reportId).then(function () {
        router.push({ name: 'reportTable' });
      });
    },
    getArtifact: function (artifact) {
      /* If we have exactly one configuration, with one artifact produced, then we do not need a menu */
      if (artifact.tag in this.existingArtifacts &&
          Object.keys(this.existingArtifacts[artifact.tag]).length === 1 &&
          this.profile.configurations.length === 1) {
        var processor = Object.keys(this.existingArtifacts[artifact.tag])[0];
        this.getLinkForArtifact(processor, artifact.tag);
      } else {
        this.setArtifactViewer(artifact);
      }
    },
    setArtifactViewer: function (artifact) {
      this.artifactView = artifact;
      this.$bvModal.show('reportModalArtifactViewer');
    },
    setJsonViewer: function (title, json) {
      this.jsonViewData = { title, json };
      this.$bvModal.show('reportModalJsonViewer');
    },
    viewResource: function (resource) {
      window.open(resource.url, '_blank');
    },
    viewResourceInProvider: function (resource) {
      window.open(resource.providerResourceURI, '_blank');
    },
    rerunReportForArtifact: function (artifact) {
      this.$bvModal.msgBoxConfirm(
        'This artifact has not been generated - re-run to get it now?',
        {}
      ).then(value => {
        if (value) {
          this.rerunReport([artifact]);
          this.$router.push({ name: 'reportTable' });
        }
      });
    },
    rerunReport: function (artifacts) {
      var self = this;
      return this.$store.dispatch(RERUN_REPORT, { reportId: this.report.id, artifacts }).then(function () {
        self.reportHasRerun = true;
      });
    },
    convertDate: convertDate,
    convertDateTime: convertDateTime
  },
  watch: {
    report: function (report) {
      if (report) {
        this.$store.dispatch(LOAD_DATA_RESOURCE, { provider: '_local', resourceId: this.report.dataResourceId, includePackage: true, withRemoteMetadata: true });
        this.$store.dispatch(LOAD_PROFILE, this.report.profileId);
      }
    }
  },
  computed: {
    groupedArtifacts: function () {
      var groups = [];
      var sections = {};
      this.artifactsAvailable.forEach((artifact) => {
        if (!(artifact.section in sections)) {
          groups.push(artifact.section);
          sections[artifact.section] = [];
        }
        sections[artifact.section].push(artifact);
      });

      return groups.map((section) => sections[section]);
    },
    existingArtifacts: function () {
      var artifacts = {};
      if (this.content && this.content.artifacts) {
        for (var artifactTag in this.content.artifacts) {
          var pair = artifactTag.split('#');
          if (!(pair[1] in artifacts)) {
            artifacts[pair[1]] = {};
          }
          artifacts[pair[1]][pair[0]] = this.content.artifacts[artifactTag];
        }
      }
      return artifacts;
    },
    source: function () {
      var source = {};
      if (this.dataResource) {
        source.lintolSource = this.dataResource.source.lintolSource;
      }
      if (this.run) {
        if (this.run.doorstepDefinition && this.run.doorstepDefinition.context) {
          var context = this.run.doorstepDefinition.context;
          if (context.package && context.package.organization) {
            source.organization = context.package.organization;
          }
        }
      }
      return source;
    },
    featureExportCsv: function () {
      return this.$store.getters.featureOn('export-csv');
    },
    report: function () {
      var report = this.$store.state.reports.currentReport;
      return report;
    },
    profile: function () {
      var resource = this.$store.state.profiles.currentProfile;
      return resource;
    },
    run: function () {
      var run;
      if (this.report) {
        run = this.report.run;
      }
      return run;
    },
    dataResource: function () {
      var resource = this.$store.state.resources.currentDataResource;
      return resource;
    },
    content: function () {
      var content;
      if (this.report) {
        content = JSON.parse(this.report.content);
      } else {
        content = null;
      }
      return content;
    }
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss'>
@import '~@/assets/scss/application.scss';
@import '~@/assets/scss/reports.scss';

.reportRow {
   justify-content: space-between;
   min-height: 80px;
   padding: 0px 10px;
   border-bottom: 1px solid $separatorColour;
 }

.ranOn {
  font-weight: $bold;
  font-size: 10px;
  + label {
    font-size: 11px;
  }
}

.reportColumn {
  justify-content: center;
  overflow: ellipsis;
}

.reportMainColumn {
}

.user {
  font-size: 12px;
}

.alignImage {
  vertical-align: middle;
  padding-right: 10px;
}

.navigateToReports {
  margin-top: 10px;
}

.reportDone.btn-secondary:disabled {
  background-color: green;
}

.jv-code {
  font-family: Consolas, Menlo, Courier, monospace;
}

.lintolSource {
  font-size: 70%;
}

#artifact-sidebar {
  width: 90px;
  text-align: center;

  .b-sidebar-header {
    writing-mode: vertical-rl;
  }

  h4 {
    border-top: thin black solid;
    margin-top: 20px;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
  }

  .artifact {
    margin-top: 10px;
    font-size: 90%;
  }

  .artifact svg {
    width: 32px;
    height: 32px;
  }
}

.artifactProcessor {
  font-weight: bold
}
</style>
